/**
 * @file 骨架
 */

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.desktop-nav {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: url(../images/nav_bg.png) repeat-x 0 0;
}
.desktop-nav-func {
    float: left;
}

.desktop-nav-dock {
    float: left;
    margin-left: 10px;
}
.desktop-nav-menu {
    float: right;
}

.desktop-bg {
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: background-position .8s ease;
            transition: background-position .8s ease;
}
.desktop-bg-default {
    background-image: url(../images/desktop_bg.jpg);
}