.desktop-nav-func {
    .func-item {
        float: left;
    }
    .btn-home {
        cursor: pointer;
        @include opacity(.7);
        -webkit-transition: opacity .3s ease;
                transition: opacity .3s ease;
        &:hover {
            @include opacity(1);
        }
    }
    .btn-history {
        margin: 14px 0 0 14px;
        cursor: pointer;
    }
}
.desktop-nav-dock {
    .dock-item {
        float: left;
        position: relative;
        bottom: 0;
        overflow: hidden;
        margin: 5px 3px 0 3px;
        height: 36px;
        width: 100px;
        border-radius: 4px;
        padding-right: 26px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        background-color: rgba(252,252,252,0.4);
        -webkit-transition: all .8s;
        transition: all .8s;

        @include vertical-middle();
    }
    .dock-item-active {
        background-color: rgba(252,252,252,0.8);
    }
    .dock-item-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: -6px;
        margin-right: 7px;
        margin-left: 10px;
    }
    .dock-item-title {
        overflow: hidden;
        color: #082849;
        text-overflow: ellipsis;
    }
    .dock-item-btn {
        position: absolute;
        top: 9px;
        right: 6px;
        &:hover {
            background-color: #e6ecf3;
            border-radius: 2px;
        }
    }
}

.desktop-nav-menu {
    .menu-item {
        float: left;
        margin: 10px 12px 0 12px;
    }
    .menu-item-icon {
        display: inline-block;
        vertical-align: middle;
    }
    .menu-item-text {
        display: inline-block;
        padding: 0 .5em;
        line-height: 24px;
        color: #fff;
    }
}