@charset "UTF-8";
.desktop-sprite, .icon-home, .topbar-home, .icon-history, .topbar-history, .icon-close, .dock-item-btn, .icon-dashboard, .icon-logout, .icon-message, .icon-more, .icon-search, .icon-user, .icon-triangle-down, .toolbar-item-indicator, .icon-add, .icon-setting, .icon-arrow-left, .launchpad-pagination-previous, .launchpad-pagination-next, .icon-arrow-right {
  background-image: url('../images/desktop-s9bd0444fd0.png');
  background-repeat: no-repeat;
}

.icon-home, .topbar-home {
  width: 20px;
  height: 46px;
  background-position: 0 -193px;
}

.icon-history, .topbar-history {
  width: 19px;
  height: 16px;
  background-position: 0 -177px;
}

.icon-close, .dock-item-btn {
  width: 17px;
  height: 17px;
  background-position: 0 -136px;
}

.icon-dashboard {
  width: 24px;
  height: 24px;
  background-position: 0 -153px;
}

.icon-logout {
  width: 24px;
  height: 24px;
  background-position: 0 -239px;
}

.icon-message {
  width: 24px;
  height: 24px;
  background-position: 0 -263px;
}

.icon-more {
  width: 24px;
  height: 24px;
  background-position: 0 -287px;
}

.icon-search {
  width: 24px;
  height: 24px;
  background-position: 0 -311px;
}

.icon-user {
  width: 24px;
  height: 24px;
  background-position: 0 -356px;
}

.icon-triangle-down, .toolbar-item-indicator {
  width: 10px;
  height: 5px;
  background-position: 0 -351px;
}

.icon-add {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

.icon-setting {
  width: 16px;
  height: 16px;
  background-position: 0 -335px;
}

.icon-arrow-left, .launchpad-pagination-previous, .launchpad-pagination-next {
  width: 33px;
  height: 60px;
  background-position: 0 -16px;
}

.icon-arrow-right, .launchpad-pagination-next {
  width: 33px;
  height: 60px;
  background-position: 0 -76px;
}

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #777777;
}

.text-primary {
  color: #337ab7;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

.bg-primary {
  color: #fff;
}

.bg-primary {
  background-color: #337ab7;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}

.bg-success {
  background-color: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}

.bg-info {
  background-color: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}

.bg-warning {
  background-color: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}

.bg-danger {
  background-color: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

/**
 * @file 该网站基本样式
 */
html,
body {
  overflow: hidden;
  height: 100%;
  background: #007cef;
}

body {
  color: #333;
  font-size: 12px;
  line-height: 1.35;
  font-family: 'QTS Font','Helvetica','Arial', "Microsoft YaHei",'Verdana','Tahoma', sans-serif;
}

a {
  text-decoration: none;
}

.pkui-menu-dark {
  min-width: 230px;
  padding: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.pkui-menu-bd {
  padding: 10px 0;
  margin-bottom: 1px;
  background-color: rgba(11, 11, 11, 0.8);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.75);
}

.pkui-menu-item {
  padding-left: 22px;
  color: #8c8c8c;
}

.pkui-menu-link {
  display: block;
  height: 16px;
  line-height: 16px;
  padding: 5px 22px;
  margin-left: -22px;
  color: inherit;
}
.pkui-menu-link:hover {
  color: #3678c6;
}

.pkui-menu-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  vertical-align: -4px;
}

.pkui-menu-group {
  margin-top: 10px;
}

.pkui-menu-title {
  font-size: 14px;
  color: #fff;
}
.pkui-menu-title:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 14px;
  margin: 0 5px 0 15px;
  vertical-align: -2px;
  background-color: #3678c6;
}

.da-theme {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-position .8s ease;
  transition: background-position .8s ease;
}

.da-theme-default {
  background-image: url(../images/da_bg.jpg);
}
.da-theme-default .da-topbar {
  background: url(../images/topbar_bg.png) repeat-x 0 0;
}

.launchpad-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.launchpad-container:before, .launchpad-container:after {
  content: " ";
  display: table;
}
.launchpad-container:after {
  clear: both;
}

.launchpad-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.launchpad-shortcutpad {
  width: 80%;
  min-width: 840px;
  min-height: 420px;
  margin: 40px auto 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.launchpad-shortcutpad:before, .launchpad-shortcutpad:after {
  content: " ";
  display: table;
}
.launchpad-shortcutpad:after {
  clear: both;
}

.launchpad-shortcut {
  float: left;
  width: 138px;
  height: 138px;
  border: solid 1px transparent;
  cursor: pointer;
}
.launchpad-shortcut:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

.launchpad-shortcut-placeholder {
  float: left;
  width: 138px;
  height: 138px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.launchpad-shortcut-icon {
  display: block;
  width: 76px;
  height: 76px;
  margin: 10px auto 0 auto;
}

.launchpad-shortcut-title {
  width: 100px;
  margin: 8px auto 0 auto;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.launchpad-pagination-navItem-active, .launchpad-pagination-previous:hover, .launchpad-pagination-next:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.launchpad-pagination-previous, .launchpad-pagination-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 5%;
  margin-top: -30px;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.launchpad-pagination-next {
  left: auto;
  right: 5%;
}

.launchpad-pagination-switchList {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

.launchpad-pagination-switchItem, .swiper-pagination-switch {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 12px;
  border-radius: 12px;
  background-color: #6e9ec0;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.35);
}

.launchpad-pagination-switchItem-active, .launchpad-pagination-switchItem:hover, .swiper-pagination-switch:hover, .swiper-active-switch {
  background-color: #fff;
}

/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 *
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  direction: ltr;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */
  /*width:200px;
  height: 100px;*/
}

.swiper-slide {
  /* Specify Slides's Size: */
  /*width: 100%;
  height: 100%;*/
}

.swiper-slide-active {
  /* Specific active slide styling: */
}

.swiper-slide-visible {
  /* Specific visible slide styling: */
}

/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */
}

.swiper-active-switch {
  /* Specific active button style: */
}

.swiper-visible-switch {
  /* Specific visible button style: */
}

/**
 * @file 骨架：搭建整体结构
 */
.da {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.da-topbar {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
}

.da-desktop {
  position: absolute;
  top: 46px;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 500px;
}

.topbar-home {
  float: left;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.topbar-home:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.topbar-history {
  float: left;
  margin: 14px 0 0 14px;
  cursor: pointer;
}

.topbar-dock {
  float: left;
  margin: 0 10px;
}

.topbar-dock-item {
  float: left;
  position: relative;
  bottom: 0;
  overflow: hidden;
  margin: 5px 3px 0 3px;
  height: 36px;
  width: 100px;
  border-radius: 4px;
  padding-right: 26px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.4);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.topbar-dock-item:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.topbar-dock-item.active {
  background-color: rgba(252, 252, 252, 0.8);
}

.dock-item-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: -6px;
  margin-right: 7px;
  margin-left: 10px;
}

.dock-item-title {
  overflow: hidden;
  color: #082849;
  text-overflow: ellipsis;
}

.dock-item-btn {
  position: absolute;
  top: 9px;
  right: 6px;
}
.dock-item-btn:hover {
  background-color: #e6ecf3;
  border-radius: 2px;
}

.topbar-toolbar {
  float: right;
}

.topbar-toolbar-item {
  position: relative;
  float: left;
  margin: 10px 12px 0 12px;
  cursor: pointer;
}
.topbar-toolbar-item:hover {
  top: -1px;
}

.toolbar-item-icon {
  display: inline-block;
  vertical-align: middle;
}

.toolbar-item-title {
  display: inline-block;
  padding: 0 .5em;
  line-height: 24px;
  color: #fff;
}

.toolbar-message-num {
  position: relative;
  top: -4px;
  display: inline-block;
  padding: 0 6px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 16px;
  background-color: #fe5026;
  color: #fff;
}

.toolbar-item-indicator {
  display: inline-block;
  vertical-align: middle;
}

.toolbar-item-menu {
  position: relative;
}
.toolbar-item-menu .pkui-menu {
  position: absolute;
  top: 102%;
  right: 0;
  display: none;
}
.toolbar-item-menu:hover .pkui-menu {
  display: block;
}
