.page-login {

    //background-color: #e9e9e9;
    border-top: solid 1px transparent;
    .page-content {
        margin: 0;
        background-color: transparent;
    }

    .form-login {
        position: relative;
        background: #ffffff;
        width: 320px;
        border-top: 5px solid #33b5e5;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        padding: 40px 40px 20px 40px;
        margin-top: 60px;
    }
    .input-group-addon {
        min-width: 40px;
    }
}