* {
    padding: 0;
    margin: 0;
}
html {
    background: #f2f2f2;
}
body {
    font-size: 14px;
    color: #333;
    font-family: "Microsoft Yahei", sans-serif;
    line-height: 1.5;
    width: 800px;
    margin: 0 auto;
}
h1 {
    font-size: 24px;
    padding: 12px 0 12px 0;
    /*border-bottom: 1px solid #888;*/
}
h2 {
    font-size: 20px;
    padding: 1em 0 0 0;
}
p.p {
    text-indent: 2em;
    margin: 0.5em 0;
}
.aside {
    color: #666;
    font-size: 14px;
    font-weight: normal;
    text-indent: 2em;
}
em {
    font-style: normal;
    font-weight: bold;
}
.display-image {
    img {
        float: left;
        /*width: 200px;*/
        margin: 0 6px 6px 0;
        border: solid 1px #e2e2e2;
        padding: 1px;

    }
    .aside {
        clear: both;
    }
}

.panel {
    background: #fff;
    margin: 1em 0;
}
.panel-heading {
    padding: 0 20px;
    border-bottom: dashed 1px #05aeff;
}
.panel-body {
    padding: 20px;
}
.panel-foot  {
    border-top: dashed 1px #05aeff;
    padding: 20px;
    &:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}
.color-list {
    clear: both;
    overflow: hidden;
    .color-item {
        float: left;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
    }
}

.color-coordinate {
    float: left;
    position: relative;
    height: 400px;
    width: 360px;
    border-left: solid 2px #333;
    border-bottom: solid 2px #333;
    margin-right: 18px;;
    &:before {
        content: "";
        position : absolute;
        top: -2px;
        left: -8px;
        width:0;height:0;overflow:hidden;line-height:0;font-size:0;
        vertical-align:middle;
        border-bottom:7px solid #333;
        border-top:0 none;
        border-left:7px solid transparent;
        border-right:7px solid transparent;
    }
    &:after {
        content: "";
        position : absolute;
        right: -4px;
        bottom: -8px;
        width:0;height:0;overflow:hidden;line-height:0;font-size:0;
        vertical-align:middle;
        border-left:7px solid #333;
        border-right:0 none;
        border-top:7px solid transparent;
        border-bottom:7px solid transparent;_color:#FF3FFF;
    }
    .axis {
        position: absolute;
    }
    .axis-x {
        bottom: 0;
        right: 10px;
    }
    .axis-y {
        top: 10px;
        left: 2px;
    }
    .color-block {
        position: absolute;
        width: 60px;
        height : 60px;
        text-align: center;
        line-height: 60px;;
    }
}
