@import "../../dev/modules/ui/scss/preloader";
body {
    background: #fefefe;
}
.navbar-brand {
    img {
        width: 24px;
        border-radius: 100%;
    }
}
.thumbnail {
    height: 300px;
    & > a {
        display: block;
        height: 200px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        opacity: 0.8;
    }
    .caption {
        height: 90px;
        background: #fff;
        p {
            color: #888;
            text-align: right;
            .fa-calendar {
                margin-right: 0.5em;
            }
            &:hover {
                color: #EF7F00;
            }
        }
    }
}

#note {
    .thumbnail {
        height: 308px;
        & > a {
            height: 180px;
        }
        .caption {
            padding-top: 0;
            h4 {
                min-height: 42px;
                line-height: 1.5;
            }
            .footer {
                color: #888;
                .item {
                    line-height: 1.5;
                    &:first-child {
                        //float:left;
                        text-align: left;
                    }
                    &:last-child {
                        //float: right;
                        text-align: right;
                    }
                }
                .fa {
                    margin-right: 0.2em;
                }
                .badge {
                    border-radius: 2px;
                }
            }
        }
    }
}
