html, body {
    height: 100%;
}
body {
    width: auto!important;
    padding: 0!important;
}
#category {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    background-color: #FCFCFC;
    border-right: solid 2px #ddd;
    padding: 12px;
    overflow: auto;
    a {
        text-decoration: none;
        font-size: 14px;
        border-bottom: dotted 1px transparent;
        @for $i from 1 through 6 {
            &.heading-h#{$i} {
                margin-left: 1.6em * ( $i - 1 );
            }
        }

        &:hover {
            border-bottom-color: #4183C4;
        }
    }
}
#content {
    padding-left: 320px;
    padding-right: 20px;
}