@mixin hotmap($num,$left,$top,$width,$height,$tipLeft:0,$tipTop:0,$tipWidth: 50) {
    left       : #{$left}px;
    top        : #{$top}px;
    width      : #{$width}px;
    height     : #{$height}px;
    background : url("../images/map_#{$num}.png") no-repeat;
    &:hover, &.active {
        background-image : url("../images/map_#{$num}_hover.png");
        .tip {
            display : block;
        }
    }
    &.error {
        background-image : url("../images/map_#{$num}_error.png");
    }
    .tip {
        font-size : 12px;
        position  : absolute;
        top       : #{$tipTop}px;
        left      : #{$tipLeft - 20}px;
        width     : #{$tipWidth + 20}px;
        vertical-align: middle;
        img {
            height: 12px;
            vertical-align: middle;
        }
        &:hover {
            color: #fff;
            img {
                margin: -1px 0 0 1px;
            }
        }
    }

}

@mixin opacity($opacity:50) {
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}
@mixin noselect() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*h1,h2,p,table,tr,th,td,strong*/ * {
    margin  : 0;
    padding : 0;
}
a {
    text-decoration: none;
    img {
        border: none 0;
    }
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
}
.hidden {
    visibility: hidden!important;
    display: none!important;
}
.disabled {
    cursor: not-allowed;
}

.alert {
    position: absolute;
    //width: 50%;
    top: 30%;
    left: 20%;
    right: 20%;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    &.alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    button.close {
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        filter: alpha(opacity=20);
        opacity: .2;
        vertical-align: middle;
        margin-top: -3px;
        &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }
    }
    strong {
        font-weight: 700;
    }
}

.wait-overlay {
    display: block;
    background-color : rgba(0, 0, 0, 0.4);
    filter           : progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
    position         : absolute;
    z-index          : 10;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.wd-container {
    margin           : 10px auto;
    width            : 800px;
    height           : 500px;
    border           : solid 7px #eeeeee;
    padding          : 1px;
    background-color : #e0e2e7;
    font-family      : "Microsoft Yahei", "宋体",sans-serif;
    color            : #333333;
    font-size        : 14px;
    line-height: 1.5;
    .wd-wrap {
        height     : 100%;
        background : url(../images/platform_bg.png) repeat-x #ffffff;
    }
    .wd-main {
        height : 88%;
    }
    .wd-bottom {
        height           : 12%;
        background-color : #ffffff;
        border-top       : solid 1px #eeeeee;
    }
    .bottom-menu {
        overflow    : hidden;
        line-height : 1;
        color       : #6176be;
        .bottom-menu-item {
            float       : left;
            width       : 16.5%;
            font-size   : 16px;
            padding     : 24px 0 30px 0;
            text-indent : 46px;
            cursor      : pointer;
            background  : url(../images/sprit.png) no-repeat 18px 21px;
            &:hover {
                background-color      : #e6e6e6;
            }
            &.active {
                color                 : #ffffff;
                background-color      : #62a0ea;
                background-position-y : -106px !important;
            }
            &.disabled {
                color      : #e6e6e6;
                background-color: #fff;
                cursor: not-allowed;
            }
        }
    }
    // 区级数据
    .wd-qjsj {
        overflow: hidden;
        .qjsj-map {
            width: 354px;
            float: left;
            padding: 10px;
            margin: -1px 0 0 -1px;
            border: solid 1px #eee;
            background: #fff;
            .map-hot {
                width      : 333px;
                height     : 246px;
                background : url(../images/map.png) no-repeat;
                position   : relative;
                .map-hot-item {
                    position : absolute;
                    .tip {
                        display          : none;
                        padding          : 2px;
                        color            : #CFEBF4;
                        background-color : #31b0d5;
                        border-color     : #269abc;
                    }
                }
                // hotmap($num,$left,$top,$width,$height,$tipLeft:0,$tipTop:0,$tipWidth: 50)
                #map-00 {
                    @include hotmap("00", 0, 0, 83, 64, 54 + 20, 44, 5);
                }
                #map-01 {
                    @include hotmap("01", 0, 139, 112, 107, 20, -20, 37);
                }
                #map-02 {
                    @include hotmap("02", 104, 206, 20, 20, -28, 0, 25);
                }
                #map-03 {
                    @include hotmap("03", 100, 192, 67, 54, 0, 53);
                }
                #map-04 {
                    @include hotmap("04", 91, 165, 58, 39, 0, -20);
                }
                #map-05 {
                    @include hotmap("05", 156, 186, 20, 32, 28, 27);
                }
                #map-06 {
                    @include hotmap("06", 140, 162, 30, 46, 29, -18, 25);
                }
                #map-07 {
                    @include hotmap("07", 154, 155, 54, 55, 44, 50);
                }
                #map-08 {
                    @include hotmap("08", 165, 103, 107, 86);
                }
                #map-09 {
                    @include hotmap("09", 226, 126, 56, 69, 30, 63, 25);
                }
                #map-10 {
                    @include hotmap("10", 260, 121, 53, 58, 68, 30, 25);
                }
                #map-11 {
                    @include hotmap("11", 262, 90, 48, 56, 60, 10, 25);
                }
                #map-12 {
                    @include hotmap("12", 219, 0, 114, 100, -10, 10);
                }
            }
            .map-current {
                font-size: 16px;
                margin-top: 1em;
                text-align: right;
                .label {
                    color: #999;
                }
                .cur-city {
                    color: #333;
                }
            }
        }
        .qujsj-data {
            float: left;
            width: 425px;
            color: #666;
            .data-panel {
                background: #fff;
                &:first-child {
                    .panel-body {
                        height: 61px;
                    }
                }

                .panel-heading {
                    overflow: hidden;
                    height: 39px;
                    line-height: 39px;
                    font-size: 18px;
                    background-color: #f5f5f5;
                    border: 1px solid #ddd;
                    .title {
                    }
                    .total {
                        float: right;
                        font-size: 14px;
                        width: 51%;
                    }
                    .icon {
                        vertical-align: middle;
                        margin-left: 4px;
                        margin-right: 4px;
                    }
                }
                .panel-body {
                    overflow: hidden;
                    border: 1px solid #ddd;
                    border-top: none 0;
                    //padding-top: 1em;
                    height: 60px;
                    .data-item {
                        float: left;
                        width: 49%;
                        margin-top: 0.5em;
                        &.line-first {
                            text-indent: 2em;
                        }
                    }
                }
                .label {

                }
                .cont {

                }
            }
        }
        .service-status {
            clear: both;
            margin-top: 2em;
            .service-status-item {
                position: relative;
                float: left;
                width: 120px;
                height: 78px;
                color: #666;
                font-size: 16px;
                border: solid 1px #e0f3d7;
                margin-left: 10px;
                background: url(../images/server_status_ok.png) no-repeat center center;
                &:first-child {
                    //margin-left: 8px;
                }
                &.empty {
                    background: none;
                    border-color: #eee;
                }
                &.error {
                    border-color: #f7dfdf;
                    background-image: url(../images/server_status_error.png);
                    .tip.error {
                        display: block;
                        background-color: #ffeded;
                        color: #b70000;
                    }
                }
                .text {
                    width: 90%;
                    line-height: 1.2;
                    margin: 1.5em auto 0 auto;
                    text-align: center;
                }
                .tip {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    line-height: 1;
                    font-size: 12px;
                    color: #349200;
                    background-color: #ecf7e6;
                    padding: 3px 2px;
                    &.error {
                        display: none;
                    }
                }

            }
        }
    }

    // 业务监管
    .wd-ywjg {
        position: relative;
        color: #333;
        padding-top: 6px;
        .time-menu {
            position: absolute;
            z-index: 3;
            top: 0;
            right: 0;
            overflow: hidden;
            padding-right: 1px;
            .time-menu-item {
                float: left;
                width: 78px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                color: #333;
                background-color: #fff;
                border: solid 1px #cccccc;
                margin-right: -1px;
                &:hover {
                    background-color: #e6e6e6;
                }
                &.active {
                    color: #fff;
                    border-color: #46b8da;
                    background: url(../images/btn_time_menu.png) no-repeat center center;
                }
            }
        }

        .tabs-business-total {
            .tabs-body {
                padding-top: 4px;
                height: 190px;
            }
            @at-root  .chart {
                position: relative;
                width:740px;
                height: 80%;
                padding-top: 18px;
                //background: gray;
                font-size: 12px;
                margin-left: 2em;
                border-left: solid 1px #e6e6e6;
                border-bottom: solid 1px #e6e6e6;
                .chart-item {
                    float: left;
                    height: 100%;
                    width: 8%;
                    text-align: center;
                    .total {
                        position: relative;
                        height: 100%;
                        .percent {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            margin-left: -18px;
                            width: 34px;
                            background-color: #ccdde7;
                            border:solid 1px #97bbcd;
                            overflow: visible;
                            .num {
                                line-height: 1;
                                display: block;
                                margin-top: -1.2em;
                                *zoom:1
                            }
                            &:hover {
                                //background-color: #91DBF0;
                            }
                            &.active {
                                //background-color: #22c2f0;
                            }
                        }
                    }
                    .title {

                    }
                }
                .chart-title {
                    position: absolute;
                    top: 0;
                    left: -1.4em;
                    width: 1em;
                    color: #333;
                    text-align: center;
                    line-height: 1.2;
                }
            }
        }

        .tabs-business-view {
            margin-top: 16px;
            .tabs-body {
                //padding-top: 6px;
            }
            @at-root .table-grid {
                border-collapse: collapse;
                table-layout: fixed;
                background-color: #fff;
                font-size: 12px;
                color: #333;
                width: 778px;
                border: solid 1px #dddddd;
                margin-left: -1px!important;
                white-space: nowrap;
                .tbody-heading th {
                    border-bottom-style:  solid;
                }
                th, td {
                    height: 22px;
                    border-right:  dotted 1px #dddddd;
                }
                th {
                    font-weight: normal;
                    color: #666;
                    background-color: #f5f4f4;
                    text-align: center;
                    border-bottom:  dotted 1px #dddddd;
                }
                td {
                    background-color: #fff;
                    border-bottom:  dotted 1px #dddddd;
                    &>p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 0.5em;
                    }
                }
                .tbody-operation {
                    td {
                        background-color: #efefef;
                        border:solid 1px #dddddd;
                        vertical-align: middle;
                        line-height: 1;
                    }
                    .pagination {
                        height: 100%;
                        margin-left: 2em;
                        .pagination-divider {
                            display: inline-block;
                            height: 100%;
                            width: 1px;
                            background-color: #d4d4d4;
                            border-right: solid 1px #fff;
                            vertical-align: middle;
                            margin: 0 0.5em;
                        }
                        .pagination-num {
                            input {
                                vertical-align: middle;
                                border: 1px solid #95B8E7;
                                padding: 1px;
                                width: 2em;
                                height: auto;
                                text-align: center;
                            }
                            .total {

                            }
                        }
                        .pagination-btn {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            border: solid 1px transparent;
                            background: url("../images/pagination_icons.png") no-repeat #efefef;
                            vertical-align: middle;
                            margin: 0 0.5em;
                            @include opacity(60);
                            &:hover {
                                @include opacity(100);
                                background-color: #eaf2ff;
                                border-color: #b7d2ff;
                            }
                            &.page-first {
                                background-position: 0 0;
                            }
                            &.page-pre {
                                background-position: -16px 0;
                            }
                            &.page-next {
                                background-position: (-16 * 2px) 0;
                            }
                            &.page-last {
                                background-position: (-16 * 3px) 0;
                            }
                            &.refresh {
                                background-position: (-16 * 4px) 0;
                            }
                        }
                    }
                }

            }
        }

        @at-root .tabs {
            width: 778px;
            margin-left: auto;
            margin-right: auto;
            .tabs-nav {
                border-bottom: solid 1px #dddddd;
                .nav-item {
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    padding: 10px 12px;
                    border: solid 1px transparent;
                    margin-bottom: -2px;
                    select {
                        visibility: hidden;
                        margin-left: 1em;
                        vertical-align: middle;
                    }
                    a {
                        color: #337ab7;
                    }
                    &:hover {
                        background-color: #eee;
                    }
                    &.active {
                        background-color: #fff;
                        border-color: #dddddd;
                        border-bottom-color: #fff;
                        a {
                            color: #555555;
                            cursor: default;
                        }
                        select {
                            visibility: visible;
                        }
                    }
                }
            }
            .tabs-body {
                background-color: #fff;
                border: solid 1px #dddddd;
                border-top-width: 0;
            }
        }
    }

    // 异地办理
    .wd-ydbl {
        padding-top: 16px;
        .tabs {
            position: relative;
        }
        .ydbl-statistic {
            position:absolute;
            top: 10px;
            right: 0;
            font-size: 12px;
            color: #666666;
            p {
                float: left;
                margin-left: 1em;
                label {
                    color: #888;
                }
                strong {
                    font-weight: normal;
                    font-size: 14px;
                }
            }
            .bdw {
                label {
                    color: #62a0ea;
                }
                strong {
                    color: #ff916b;
                    &:first-child {
                        color: #ffc56b;
                    }
                }
            }
            .qq {

            }
        }
        .quick-links {
            margin: 0.8em 0 0 0.6em;
            font-size: 12px;
            .quick-links-item {
                float: left;
                padding: 0.25em;
                margin-right: 1em;
                &:first-child {
                    color: #888;
                    padding-right: 0;
                    margin-right: 0;
                }
                a {
                    color: #6176be;
                    border-bottom: dotted 1px;
                    &:hover {
                        color: #758de3;
                    }
                }
            }
        }
        .tabs-body {
            padding: 1.2em 0 0 0;
            .like-query {
                display: inline-block;
                margin-left: -1px;
                padding: 0 0.5em;
                vertical-align: middle;
                width: auto;
                cursor: pointer;
                text-indent: 0;
                font-size: 12px;
                color: #666;
                @include noselect();
                input {
                    margin-right: 0.5em;
                    vertical-align: middle;
                }
                &:hover {
                    color: #333;
                    background-color: #e6e6e6;
                    border-color: #adadad;
                }
            }
        }
        .search {
            margin: 0 0 1.2em 1em;
            @at-root .form {
                .form-group {
                    float: left;
                    margin-right: 1em;
                }
                .form-label {
                    color: #666666;
                }
                .form-control {
                    width: 172px;
                    height: 28px;
                    border: solid 1px #ccc;
                    font-size: 14px;
                    text-indent: 0.5em;
                    line-height : 28px;
                    vertical-align: middle;
                    background-color: #f8f8f8;
                }
                .form-btn {
                    border: none 0;
                    padding: 0;
                    width: 69px;
                    height: 31px;
                    cursor: pointer;
                    font-size: 13px;
                    font-family: "Microsoft Yahei", sans-serif;
                    color: #555;
                    text-indent: 1em;
                    background: url(../images/form_btn.png) no-repeat 0 0;
                    &:hover {
                        background: url(../images/form_btn_hover.png) no-repeat 1px 1px;
                        color: #fff;
                    }
                }
            }
        }
    }

    // 数据质量
    .wd-sjzl {
        .tabs-quality-problems {
            padding-top: 6px;
            .tabs-body {
                padding-top: 4px;
                height: 190px;
            }
        }
        .tabs-duplicate-code {
            margin-top: 16px;
            .tabs-body {
                //padding: 5px 0 5px 0;
            }
            .table-grid {

            }
        }
    }
}

