@mixin hotmap($num,$left,$top,$width,$height,$tipLeft:0,$tipTop:0,$tipWidth: 50) {
    left       : #{$left}px;
    top        : #{$top}px;
    width      : #{$width}px;
    height     : #{$height}px;
    background : url("../images/map_#{$num}.png") no-repeat;
    &:hover, &.active {
        background-image : url("../images/map_#{$num}_hover.png");
        .tip {
            display : block;
        }
    }
    .tip {
        font-size : 12px;
        position  : absolute;
        top       : #{$tipTop}px;
        left      : #{$tipLeft}px;
        width     : #{$tipWidth}px;
    }

}

@mixin opacity($opacity:50) {
    opacity: $opacity / 100;
    filter: alpha(opacity=$opacity);
}

* {
    margin  : 0;
    padding : 0;
}
a {
    text-decoration: none;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
}

.wait-overlay {
    display: block;
    background-color : rgba(0, 0, 0, 0.4);
    filter           : progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
    position         : absolute;
    z-index          : 10;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.wd-container {
    margin           : 10px auto;
    width            : 800px;
    height           : 500px;
    border           : solid 7px #eeeeee;
    padding          : 1px;
    background-color : #e0e2e7;
    font-family      : "Microsoft Yahei", "宋体",sans-serif;
    color            : #333333;
    font-size        : 14px;
    line-height: 1.5;
    .wd-wrap {
        height     : 100%;
        background : url(../images/platform_bg.png) repeat-x #ffffff;
    }
    .wd-main {
        height : 88%;
    }
    .wd-bottom {
        height           : 12%;
        background-color : #ffffff;
        border-top       : solid 1px #eeeeee;
    }
    .bottom-menu {
        overflow    : hidden;
        line-height : 1;
        color       : #6176be;
        .bottom-menu-item {
            float       : left;
            width       : 16.5%;
            font-size   : 16px;
            padding     : 24px 0 30px 0;
            text-indent : 46px;
            cursor      : pointer;
            background  : url(../images/sprit.png) no-repeat 18px 21px;
            &:hover {
                background-color      : #e6e6e6;
            }
            &.active {
                color                 : #ffffff;
                background-color      : #62a0ea;
                background-position-y : -106px !important;
            }
        }
    }
    // 区级数据
    .wd-qjsj {
        overflow: hidden;
        .qjsj-map {
            width: 340px;
            float: left;
            padding: 10px 0 0 10px;
            .map-hot {
                width      : 333px;
                height     : 246px;
                background : url(../images/map.png) no-repeat;
                position   : relative;
                .map-hot-item {
                    position : absolute;
                    .tip {
                        display          : none;
                        padding          : 2px;
                        color            : #ffffff;
                        background-color : #31b0d5;
                        border-color     : #269abc;
                    }
                }
                #map-00 {
                    @include hotmap("00", 0, 0, 83, 64, 54, 44, 25);
                }
                #map-01 {
                    @include hotmap("01", 0, 139, 112, 107, 20, -20, 37);
                }
                #map-02 {
                    @include hotmap("02", 104, 206, 20, 20, -28, 0, 25);
                }
                #map-03 {
                    @include hotmap("03", 100, 192, 67, 54, 0, 56);
                }
                #map-04 {
                    @include hotmap("04", 91, 165, 58, 39, 0, -20);
                }
                #map-05 {
                    @include hotmap("05", 156, 186, 20, 32, 10, 36);
                }
                #map-06 {
                    @include hotmap("06", 140, 162, 30, 46, 0, -20, 25);
                }
                #map-07 {
                    @include hotmap("07", 154, 155, 54, 55, 24, 58);
                }
                #map-08 {
                    @include hotmap("08", 165, 103, 107, 86);
                }
                #map-09 {
                    @include hotmap("09", 226, 126, 56, 69, 0, 70, 25);
                }
                #map-10 {
                    @include hotmap("10", 260, 121, 53, 58, 60, 30, 25);
                }
                #map-11 {
                    @include hotmap("11", 262, 90, 48, 56, 50, 10, 25);
                }
                #map-12 {
                    @include hotmap("12", 219, 0, 114, 100, -10, 10);
                }
            }
            .map-current {
                font-size: 16px;
                margin-top: 2em;
                text-align: right;
                .label {
                    color: #999;
                }
                .cur-city {
                    color: #333;
                }
            }
        }
        .qujsj-data {
            float: right;
            width: 400px;
            color: #666;
            .data-panel {
                background: #fff;
                margin: 20px 20px 0 0 ;
                .panel-heading {
                    overflow: hidden;
                    height: 39px;
                    line-height: 39px;
                    font-size: 18px;
                    background-color: #f5f5f5;
                    border: 1px solid #ddd;
                    .title {
                    }
                    .total {
                        float: right;
                        font-size: 14px;
                        width: 50%;
                    }
                    .icon {
                        vertical-align: middle;
                        margin-left: 4px;
                        margin-right: 4px;
                    }
                }
                .panel-body {
                    overflow: hidden;
                    border: 1px solid #ddd;
                    border-top: none 0;
                    padding-top: 1em;
                    .data-item {
                        float: left;
                        width: 50%;
                        margin-bottom: 1em;
                        &.line-first {
                            text-indent: 2em;
                        }
                    }
                }
                .label {

                }
                .cont {

                }
            }
        }
    }

    // 业务监管
    .wd-ywjg {
        position: relative;
        color: #333;
        padding-top: 6px;
        .time-menu {
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            padding-right: 1px;
            .time-menu-item {
                float: left;
                width: 78px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                color: #333;
                background-color: #fff;
                border: solid 1px #cccccc;
                margin-right: -1px;
                &:hover {
                    background-color: #e6e6e6;
                }
                &.active {
                    color: #fff;
                    border-color: #46b8da;
                    background: url(../images/btn_time_menu.png) no-repeat center center;
                }
            }
        }

        .tabs-business-total {
            .tabs-body {
                padding-top: 4px;
                height: 190px;
            }
            @at-root  .chart {
                position: relative;
                width:740px;
                height: 80%;
                padding-top: 18px;
                //background: gray;
                font-size: 12px;
                margin-left: 2em;
                border-left: solid 1px #e6e6e6;
                border-bottom: solid 1px #e6e6e6;
                .chart-item {
                    float: left;
                    height: 100%;
                    width: 8%;
                    text-align: center;
                    .total {
                        position: relative;
                        height: 100%;
                        .percent {
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            margin-left: -18px;
                            width: 34px;
                            background-color: #ccdde7;
                            border:solid 1px #97bbcd;
                            overflow: visible;
                            .num {
                                line-height: 1;
                                display: block;
                                margin-top: -1.2em;
                                *zoom:1
                            }
                            &:hover {
                                //background-color: #91DBF0;
                            }
                            &.active {
                                //background-color: #22c2f0;
                            }
                        }
                    }
                    .title {

                    }
                }
                .chart-title {
                    position: absolute;
                    top: 0;
                    left: -1.4em;
                    width: 1em;
                    color: #333;
                    text-align: center;
                }
            }
        }

        .tabs-business-view {
            margin-top: 5px;
            .tabs-body {
                padding: 4px 0;
            }
            .table-grid {
                border-collapse: collapse;
                table-layout: fixed;
                background-color: #fff;
                font-size: 12px;
                color: #333;
                width: 756px;
                border: solid 1px #dddddd;
                margin: 0 auto;
                white-space: nowrap;
                tr:first-child th {
                    border-bottom-style:  solid;
                }
                th, td {
                    height: 22px;
                    border-right:  dotted 1px #dddddd;
                }
                th {
                    font-weight: normal;
                    color: #666;
                    background-color: #f5f4f4;
                    text-align: center;
                    border-bottom:  dotted 1px #dddddd;
                }
                td {
                    background-color: #fff;
                    border-bottom:  dotted 1px #dddddd;
                    &>p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 0.5em;
                    }
                }
                .tbody-operation {
                    td {
                        background-color: #efefef;
                        border:solid 1px #dddddd;
                        vertical-align: middle;
                        line-height: 1;
                    }
                    .pagination {
                        height: 100%;
                        margin-left: 2em;
                        .pagination-divider {
                            display: inline-block;
                            height: 100%;
                            width: 1px;
                            background-color: #d4d4d4;
                            border-right: solid 1px #fff;
                            vertical-align: middle;
                            margin: 0 0.5em;
                        }
                        .pagination-num {
                            input {
                                vertical-align: middle;
                                border: 1px solid #95B8E7;
                                padding: 1px;
                                width: 2em;
                                height: auto;
                            }
                            .total {

                            }
                        }
                        .pagination-btn {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            border: solid 1px transparent;
                            background: url("../images/pagination_icons.png") no-repeat #efefef;
                            vertical-align: middle;
                            margin: 0 0.5em;
                            @include opacity(60);
                            &:hover {
                                @include opacity(100);
                                background-color: #eaf2ff;
                                border-color: #b7d2ff;
                            }
                            &.page-first {
                                background-position: 0 0;
                            }
                            &.page-pre {
                                background-position: -16px 0;
                            }
                            &.page-next {
                                background-position: (-16 * 2px) 0;
                            }
                            &.page-last {
                                background-position: (-16 * 3px) 0;
                            }
                            &.refresh {
                                background-position: (-16 * 4px) 0;
                            }
                        }
                    }
                }

            }
        }

        @at-root .tabs {
            width: 778px;
            margin-left: auto;
            margin-right: auto;
            .tabs-nav {
                border-bottom: solid 1px #dddddd;
                .nav-item {
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    padding: 10px 12px;
                    border: solid 1px transparent;
                    margin-bottom: -2px;
                    select {
                        visibility: hidden;
                        margin-left: 1em;
                        vertical-align: middle;
                    }
                    a {
                        color: #337ab7;
                    }
                    &:hover {
                        background-color: #eee;
                    }
                    &.active {
                        background-color: #fff;
                        border-color: #dddddd;
                        border-bottom-color: #fff;
                        a {
                            color: #555555;
                            cursor: default;
                        }
                        select {
                            visibility: visible;
                        }
                    }
                }
            }
            .tabs-body {
                background-color: #fff;
                border: solid 1px #dddddd;
                border-top-width: 0;
            }
        }
    }
}

