body {
    background              : #f6f5f5;
    font                    : 14px/1.5 'Helvetica', Arial, Helvetica, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    text-rendering          : optimizeLegibility;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}