$page-width: 1000px;
body {
    font: 14px/1.5 "Microsoft Yahei",Arial,"宋体","Helvetica Neue",Helvetica,"Hiragino Sans GB",sans-serif;
    color: #333;
}
body,
html {
    height: 100%;
}
// reset
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none 0;
}

.reset {
    padding: 0;
    margin: 0;
}


.col-main {
    float: left;
    width: 100%;
    min-height: 1px;
    @include clearfix();
}
.col-sub {
    float: left;
    margin-left: -100%;
    min-height: 1px;
    @include clearfix();
}

