@import "compass/utilities/sprites";

$index-repeat: no-repeat;
$index-top_bg-repeat: repeat-x;
$index-header_bg-repeat: repeat-x;

@import "index/*.png";

//@include all-spirit-index-sprites;

.page-index {
    min-width: 1920px;
    min-height: 1024px;
    //background-color: #01132b;
    .logo-container {
        padding-top: 40px;
        .title {
            font-size: 60px;
            letter-spacing: 16px;
            margin-top: -4px;
        }
    }
    .function-item {
        margin-right : 40px;
        .icon {
            margin-right   : 16px;
        }
    }
    > .header {
        position: relative;
        height: 139px;
        @include index-sprite(header_bg);
        background-repeat: repeat-x;
        overflow: hidden;
        .accept-case {
            position: absolute;
            top: 0;
            left: 50%;
            width: 877px;
            height: 139px;
            margin-left: -438px;
            @include index-sprite(header_center_module);
            .title {
                position: absolute;
                top: 13px;
                left: 30px;
                font-size: 18px;
                color: #03dbff;
                width: 18px;
                line-height: 1.2;
            }
            .datetime {
                position: absolute;
                top: 24px;
                left: 50%;
                margin-left: -60px;
                width: 120px;
                text-align: center;
                line-height: 1;
                .date {
                    font-size: 18px;
                    color: #64e0ff;
                }
                .time {
                    font-size: 24px;
                    font-weight: bold;
                    font-family: Arial, sans-serif;
                    color: #fff;
                    margin-top: 4px;
                }
            }
            .progress-group-list {
                width: 300px;
                margin-top: 20px;
            }
            .progress-group-list-high {
                margin-left: 64px;
            }
            .progress-group-list-low {
                margin-right: 24px;
            }
        }
        .statistics-item {
            display: inline-block;
            margin-top: 10px;
        }
        .item-label {
            display: table-cell;
            //width: 120px;
            color: #01ffff;
            font-size: 24px;
            font-weight: bold;
            padding: 0 24px;
            vertical-align: middle;
            text-align: center;
        }
        .item-num {
            display: table-cell;
            width: 121px;
            height: 111px;
            color: #fafd4d;
            font-size: 36px;
            font-family: "DS-DIGIB", sans-serif;
            vertical-align: middle;
            @include index-sprite(circle_blue);
            span {
                display: inline-block;
                width: 120px;
                margin-left:-40px;;
                text-align: right;
            }
        }
    }
    >.content {
        position: relative;
        .row-1 {

        }
        .row-2 {
            margin-top: 21px;
        }
        .row-3 {

        }
        .module {

        }
        .module-body {
            padding-left: 5px;
        }
        .module-heading {
            height: 54px;
            color: #02e4ff;
            font-size: 24px;
            font-weight: bold;
            line-height: 45px;
            padding: 5px 0 0 5px;
            text-shadow: 0 2px 0 rgba(0,0,0,.5);
        }
        .module-heading-icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin: 0 15px 0 10px;
        }
        .module-max {
            float: right;
            width: 32px;
            height: 32px;
            @include index-sprite(icon_max);
            margin: 8px 8px 0 0;
        }
        .module-1-1 {
            @include index-sprite(module_1_1);
            width: 839px;
            height: 370px;
            .module-heading {

            }
            .module-heading-icon {
                @include index-sprite(module_icon_1_1);
            }
            .module-max {
            }
            .module-body-data {
                float: left;
                position: relative;
                width: 430px;
                height: 310px;
            }
            .ajzs {
                padding: 20px 0 0 20px;
            }
            .ajzs-total {
                font-size: 16px;
                color: #01ffff;
                margin-bottom: 20px;
                .num {
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 28px;
                    color: #fafd4d;
                    margin: 0 2px;
                }
            }
            .ajzs-item {
                color: #0c6cce;
                margin: 0 0 12px 20px;
                .icon {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-right: 14px;
                    vertical-align: middle;
                }
                .icon-blue {
                    background-color: #0c6cce;
                }
                .icon-orange {
                    background-color: #ffb638;
                }
            }
            .ajzs-chart-pie {
                position: absolute;
                top: 1px;
                right: 1px;
                width: 240px;
                height: 160px;
            }
            .ajtj {
                margin: 30px 0 0 12px;
            }
            .ajtj-header {
                color: #0182de;
                text-align: center;
                td {
                    padding: 2px;

                }
            }
            .ajtj-item {
                margin-left: 18px;
                td {
                    padding: 12px 6px;
                    color: #fff;
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 20px;
                    vertical-align: middle;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .progress {
                    width: 80px;
                    vertical-align: middle;
                }
                .percent {
                    width: auto;
                    font-size: 20px;
                    margin-right: 0;
                }
                .lab {
                    color: #01ffff;
                    font-size: 16px;
                }
            }
            .module-body-rank {
                float: left;
                width: 140px;
                .ajpm-list {
                    margin: 0 0 0 18px;
                }
                .ajpm-item {
                    line-height: 48px;
                }
                .lab {
                    display: inline-block;
                    min-width: 50px;
                    color: #0182de;
                }
                .cont {
                    color: #fff;
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 18px;
                }
            }
        }
        .module-1-2 {
            @include index-sprite(module_1_2);
            width: 841px;
            height: 370px;

            .module-heading-icon {
                @include index-sprite(module_icon_1_2);
                margin-left: 284px;
            }
            .module-body-rank {
                float: left;
                width: 140px;
                margin: 0 0 0 238px;
            }
            .rank-list {
                .rank-item {
                    text-align: right;
                }
            }
            .module-body-radio {
                position: relative;
                float: left;
                width: 430px;
                height: 306px;
                //background-color: #fff;
                margin: 3px 0 0 23px;
                &:hover {
                    .video-control {
                        display: block;
                    }
                }
            }
            .video {
            }
            .video-control {
                display: none;
                position: absolute;
                top: 30%;
                left: 0;
                width: 100%;
            }
            .control-btn {
                position: absolute;
                top: 0;
                //height: 60px;
                font-size: 24px;
                line-height: 1;
                color: #fff;
                background-color: #000;
                padding: 24px 10px;
                opacity: 0.4;
                .fa {
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            .control-btn-prev {
                left: 0;
            }
            .control-btn-next {
                right: 0;
            }
        }
        .module-2-1 {
            @include index-sprite(module_2_1);
            width: 670px;
            height: 282px;

            .module-max {
                margin-right: 124px;
            }
            .module-heading-icon {
                @include index-sprite(module_icon_2_1);
            }
            .module-body-left {
                float: left;
                width: 360px;
                margin: 8px 0 0 12px;
            }
            .module-body-right {
                float: left;
                width: 160px;
                margin: 8px 0 0 6px;
            }
            .module-body {
                height: 198px;
                width: 550px;
                margin: 0 0 0 3px;
            }
            .select-group {
            }
            .select {
                display: inline-block;
                margin-right: 12px;
            }
            .select-center {
                display: inline-block;
                height: 39px;
                line-height: 39px;
                color: #0c6cce;
                padding: 0 10px;
                vertical-align: middle;
                @include index-sprite(select_bg);
            }
            .select-left {
                display: inline-block;
                width: 11px;
                height: 39px;
                vertical-align: middle;
                @include index-sprite(select_left);
            }
            .select-right {
                display: inline-block;
                width: 43px;
                height: 39px;
                vertical-align: middle;
                @include index-sprite(select_right);
            }
            .ratio-group {
            }
            .room-list {
                width: 153px;
            }
            .room-item {
                width: 153px;
                height: 47px;
                color: #0283e2;
                line-height: 47px;
                padding-left: 24px;
                @include index-sprite(btn_black);
                cursor: pointer;
                &.active {
                    @include index-sprite(btn_black_2);
                    color: #01ffff;
                    font-size: 16px;
                    padding-left: 12px;
                }
            }
            .ratio-group {
                width: 350px;
                .title {
                    color: #01ffff;
                    font-size: 16px;
                    text-align: center;
                    line-height: 36px;
                    margin-top: 8px;
                }
                .total {
                    height: 36px;
                    color: #fafd4d;
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 30px;
                    text-align: center;
                    line-height: 36px;
                    background-color: #001228;
                    border-top: solid 1px #02b8d3;
                    border-bottom: solid 1px #015d76;
                    &:before {
                        content: "";
                        float: right;
                        height: 100%;
                        width: 11px;
                        background-color: #043b7e;
                        margin-left: 1px;
                    }
                    &:after {
                        content: "";
                        float: right;
                        height: 100%;
                        width: 11px;
                        background-color: #07274f;
                        margin-left: 1px;
                    }
                }
                .ratio {
                }
                .ratio-item {
                    float: left;
                    min-width: 40px;
                }
                .ratio-use {
                    border-right: solid 2px #021d37;
                    .ratio-bar {
                        background-color: #61d23e;
                    }
                    .ratio-text {
                        color: #61d23e;
                    }
                }
                .ratio-free {
                    float: right;
                    border-left: solid 2px #021d37;
                    .ratio-bar {
                        background-color: #c8d048;
                    }
                    .ratio-text {
                        color: #c8d048;
                    }
                }
                .ratio-bar {
                    height: 32px;
                    color: #011226;
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 30px;
                    text-align: center;
                    line-height: 32px;
                }
                .ratio-text {
                    //color: #01ffff;
                    font-size: 12px;
                    line-height: 1;
                    margin-top: 4px;
                }
            }
        }
        .module-2-2 {
            @include index-sprite(module_2_2);
            width: 664px;
            height: 282px;
            .module-heading-icon {
                @include index-sprite(module_icon_2_2);
                margin-left: 112px;
            }
        }
        .module-3-1 {
            @include index-sprite(module_3_1);
            width: 574px;
            height: 229px;
            .module-max {
                margin-right: 18px;
            }
            .module-heading-icon {
                @include index-sprite(module_icon_3_1);
                width: 41px;
                margin-right: 6px;
            }
        }
        .module-3-2 {
            @include index-sprite(module_3_2);
            position: relative;
            z-index: 10;
            width: 784px;
            height: 229px;
            .module-max {
                margin-right: 20px;
            }
            .module-heading-icon {
                @include index-sprite(module_icon_3_2);
            }
            .module-body {
                margin: 0 15px 0 4px;
            }
            .sxjd-list {
                overflow : hidden;
            }
            .sxjd-item {
                float: left;
                width: 200px;
                margin: 8px 0 0 46px;
                .num {
                    display: block;
                    width: 124px;
                    height: 121px;
                    color: #ff2306;
                    font-family: "DS-DIGIB", sans-serif;
                    font-size: 36px;
                    text-align: center;
                    margin: 0 auto;
                    padding: 34px 14px 0 0;
                    white-space: nowrap;
                    @include index-sprite(circle_black);
                }
                .text {
                    color: #01ffff;
                    font-size: 16px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
        .module-3-3 {
            @include index-sprite(module_3_3);
            width: 562px;
            height: 229px;
            .module-max {
                margin-right: 12px;
            }
            .module-heading-icon {
                @include index-sprite(module_icon_3_3);
            }
        }

        .chkbox-list {
            overflow: hidden;
            font-size: 16px;
            color: #0182de;
            font-weight: normal;
            margin-right: 141px;
        }
        .chkbox-item {
            float: left;
            margin-right: 16px;
            cursor: pointer;
            &.active,
            &:hover {
                color: #01ffff;
                .chkbox-icon {
                    background-color: #01b3d5;
                }
            }
        }
        .chkbox-icon {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: #3690ec;
            margin-right: 8px;
        }
        .chkbox-txt {

        }

        .map-center {
            position: absolute;
            top: -6px;
            left: 565px;
            width: 788px;
            height: 788px;
            @include index-sprite(map_bg);
            border-radius: 370px;
        }
        .map-area-list {
            position: absolute;
            top: 114px;
            left: 107px;
            width: 573px;
            height: 571px;
            border-radius: 180px;
        }
        .map-area-item {
            position: absolute;
            &.hover {
                .map-hot {
                    color: #fff;
                }
            }
        }
        .map_huangpo_x224y8_w196h166 {
            left: 224px;
            top: 8px;
            width: 196px;
            height: 166px;
            &.hover { @include index-sprite(map_huangpo_hover_x224y8_w196h166); }
            &.active { @include index-sprite(map_huangpo_active_x224y8_w196h166); }
            .map-hot {
                margin: 50-8px 0 0 78-8px;
            }
        }
        .map_xinzhou_x397y38_w170h279 {
            left: 397px;
            top: 38px;
            width: 170px;
            height: 279px;
            &.hover { @include index-sprite(map_xinzhou_hover_x397y38_w170h279); }
            &.active { @include index-sprite(map_xinzhou_active_x397y38_w170h279); }
            .map-hot {
                margin: 111px 0 0 70px;
            }
        }
        .map_dongxihu_x89y85_w213h234 {
            left: 89px;
            top: 85px;
            width: 213px;
            height: 234px;
            &.hover { @include index-sprite(map_dongxihu_hover_x89y85_w213h234); }
            &.active { @include index-sprite(map_dongxihu_active_x89y85_w213h234); }
            .map-hot {
                margin: 89px 0 0 31px;
            }
        }
        .map_qiaokou_x141y208_w118h93 {
            left: 141px;
            top: 208px;
            width: 118px;
            height: 93px;
            &.hover { @include index-sprite(map_qiaokou_hover_x141y208_w118h93); }
            &.active { @include index-sprite(map_qiaokou_active_x141y208_w118h93); }
            .map-hot {
                margin: 35px 0 0 28px;
            }
        }
        .map_qiaokou_x141y208_w118h93 {
            left: 141px;
            top: 208px;
            width: 118px;
            height: 93px;
            &.hover { @include index-sprite(map_qiaokou_hover_x141y208_w118h93); }
            &.active { @include index-sprite(map_qiaokou_active_x141y208_w118h93); }
            .map-hot {
                margin: 35px 0 0 28px;
            }
        }
        .map_jianghan_x216y185_w107h101 {
            left: 216px;
            top: 185px;
            width: 107px;
            height: 101px;
            &.hover { @include index-sprite(map_jianghan_hover_x216y185_w107h101); }
            &.active { @include index-sprite(map_jianghan_active_x216y185_w107h101); }
            .map-hot {
                margin: 35px 0 0 28px;
            }
        }
        .map_jiangan_x291y129_w91h110 {
            left: 291px;
            top: 129px;
            width: 91px;
            height: 110px;
            &.hover { @include index-sprite(map_jiangan_hover_x291y129_w91h110); }
            &.active { @include index-sprite(map_jiangan_active_x291y129_w91h110); }
            .map-hot {
                margin: 38px 0 0 25px;
            }
        }
        .map_qingshan_x375y168_w102h79 {
            left: 375px;
            top: 168px;
            width: 102px;
            height: 79px;
            &.hover { @include index-sprite(map_qingshan_hover_x375y168_w102h79); }
            &.active { @include index-sprite(map_qingshan_active_x375y168_w102h79); }
            .map-hot {
                margin: 20px 0 0 18px;
            }
        }
        .map_caidian_x21y312_w187h171 {
            left: 21px;
            top: 312px;
            width: 187px;
            height: 171px;
            &.hover { @include index-sprite(map_caidian_hover_x21y312_w187h171); }
            &.active { @include index-sprite(map_caidian_active_x21y312_w187h171); }
            .map-hot {
                margin: 49px 0 0 46px;
            }
        }
        .map_zhuankou_x127y322_w116h185 {
            left: 127px;
            top: 322px;
            width: 116px;
            height: 185px;
            &.hover { @include index-sprite(map_zhuankou_hover_x127y322_w116h185); }
            &.active { @include index-sprite(map_zhuankou_active_x127y322_w116h185); }
            .map-hot {
                margin: 49px 0 0 46px;
            }
        }
        .map_hanyang_x196y227_w153h219 {
            left: 196px;
            top: 227px;
            width: 153px;
            height: 219px;
            &.hover { @include index-sprite(map_hanyang_hover_x196y227_w153h219); }
            &.active { @include index-sprite(map_hanyang_active_x196y227_w153h219); }
            .map-hot {
                margin: 88px 0 0 48px;
            }
        }
        .map_wuchang_x332y226_w65h86 {
            left: 332px;
            top: 226px;
            width: 65px;
            height: 86px;
            &.hover { @include index-sprite(map_wuchang_hover_x332y226_w65h86); }
            &.active { @include index-sprite(map_wuchang_active_x332y226_w65h86); }
            .map-hot {
                margin: 29px 0 0 -1px;
            }
        }
        .map_hongshan_x311y228_w209h154 {
            left: 311px;
            top: 228px;
            width: 209px;
            height: 154px;
            &.hover { @include index-sprite(map_hongshan_hover_x311y228_w209h154); }
            &.active { @include index-sprite(map_hongshan_active_x311y228_w209h154); }
            .map-hot {
                margin: 41px 0 0 105px;
            }
        }
        .map_dongxin_x341y326_w117h53 {
            left: 341px;
            top: 326px;
            width: 117px;
            height: 53px;
            &.hover { @include index-sprite(map_dongxin_hover_x341y326_w117h53); }
            &.active { @include index-sprite(map_dongxin_active_x341y326_w117h53); }
            .map-hot {
                margin: 12px 0 0 34px;
            }
        }
        .map_jiangxia_x227y329_w236h238 {
            left: 227px;
            top: 329px;
            width: 236px;
            height: 238px;
            &.hover { @include index-sprite(map_jiangxia_hover_x227y329_w236h238); }
            &.active { @include index-sprite(map_jiangxia_active_x227y329_w236h238); }
            .map-hot {
                margin: 127px 0 0 63px;
            }
        }
        .map-hot {
            display: inline-block;
            padding: 4px;
            font-size: 22px;
            color: #c6def7;
            line-height: 1;
            text-decoration: none;
            text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        }
        .map-sector-list {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top-left-radius: 370px;
            margin-left: 1px;
            &:hover {
                .map-sector-control {
                    display: block;
                }
            }
        }
        .map-sector-item {
            position: absolute;
            left: 50%;
            top: 5px;
            width: 175px;
            height: 46px;
            margin-left: -87px;
            cursor: pointer;
            transform-origin: 87px 392px;
            @include index-sprite(sector_15division_24degree);
            &:hover {
                .map-sector-text {
                    color: #fff;
                    //text-shadow: 0 0 1px rgba(0,0,0,0.5);
                }
                @include index-sprite(sector_hover_15division_24degree);
            }
            &.active {
                @include index-sprite(sector_active_15division_24degree);
            }
            $base-offset: 12;
            &:nth-child(1) { transform : rotate($base-offset+24*0deg); }
            &:nth-child(2) { transform : rotate($base-offset+24*1deg); }
            &:nth-child(3) { transform : rotate($base-offset+24*2deg); }
            &:nth-child(4) { transform : rotate($base-offset+24*3deg); }
            &:nth-child(5) { transform : rotate($base-offset+24*4deg); }
            &:nth-child(6) { transform : rotate($base-offset+24*5deg); }
            &:nth-child(7) { transform : rotate($base-offset+24*6deg); }
            &:nth-child(8) { transform : rotate($base-offset+24*7deg); }
            &:nth-child(9) { transform : rotate($base-offset+24*8deg); }
            &:nth-child(10) { transform : rotate($base-offset+24*9deg); }
            &:nth-child(11) { transform : rotate($base-offset+24*10deg); }
            &:nth-child(12) { transform : rotate($base-offset+24*11deg); }
            &:nth-child(13) { transform : rotate($base-offset+24*12deg); }
            &:nth-child(14) { transform : rotate($base-offset+24*13deg); }
            &:nth-child(15) { transform : rotate($base-offset+24*14deg); }
        }
        .map-sector-text {
            display: block;
            height: 100%;
            font-size: 18px;
            color: #c6def7;
            line-height: 38px;
            text-align: center;
            transition: all 0.2s;
            text-shadow: 0 2px 0 rgba(0,0,0,0.5);
        }
        .map-sector-control {
            position: absolute;
            right: 116px;
            top: 11px;
            display: none;
        }
    }
}
.progress-group {
    overflow: hidden;
    .label-p,
    .percent,
    .progress {
        display: inline-block;
    }
    .label-p {
        font-size: 14px;
        color: #6ba5df;
    }
    .percent {
        width: 46px;
        color: #fafd4d;
        font-size: 18px;
        font-family: "DS-DIGIB", sans-serif;
        padding-right: 8px;
        text-align: right;
    }
    .progress {
        margin: 0 0 0 0;
        height: 10px;
        width: 190px;
        border-radius: 10px;
        .progress-bar {
            border-radius: 10px;
        }
        &.progress-info {
            background-color: #013771;
            border: 1px solid #0f5daf;
            .progress-bar {
                background-color: #54ecff;
            }
        }
        &.progress-danger {
            background-color: #013771;
            border: 1px solid #0f5daf;
            .progress-bar {
                background-color: #ca0a0a;
            }
        }
        &.progress-warning {
            background-color: #013771;
            border: 1px solid #0f5daf;
            .progress-bar {
                background-color: #ffbb47;
            }
        }
    }
}


.rank-list {
    margin: 0 0 0 18px;
}
.rank-item {
    line-height: 48px;
    .lab {
        display: inline-block;
        min-width: 50px;
        color: #0182de;
    }
    .cont {
        color: #fff;
        font-family: "DS-DIGIB", sans-serif;
        font-size: 18px;
    }
}

._dummy {
    @include index-sprite(icon_max);
}