@import "compass/utilities/sprites";

$index-repeat: no-repeat;
$index-top_bg-repeat: repeat-x;
$index-header_bg-repeat: repeat-x;

@import "index/*.png";

//@include all-spirit-index-sprites;

.page-index {
    min-width: 1920px;
    min-height: 1024px;
    > .top {
        @include index-sprite(top_bg);
        position: relative;
        height: 137px;
        background-repeat: repeat-x;
        ul {
            margin: 0;
            li {
                list-style: none;
            }
        }
    }
    .logo-container {
        padding: 40px 0 0 40px;
        .logo {
            float: left;
        }
        .title {
            float: left;
            font-size: 60px;
            font-weight: bold;
            color: #fff;
            line-height: 1;
            letter-spacing: 16px;
            margin-left: 30px;
            margin-top: -4px;
        }
    }
    .function-list {
        position: absolute;
        top: 90px;
        right: 0;
        font-size: 18px;
    }
    .function-item {
        float: left;
        color: #fff;
        line-height: 32px;
        margin-right: 40px;
        a {
            color: #fff;
        }
        .icon {
            display: inline-block;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin-right: 16px;
        }
        .icon-user {
            @include index-sprite(user);
        }
        .icon-supervision {
            @include index-sprite(supervision);
        }
        .icon-password {
            @include index-sprite(password);
        }
        .icon-logout {
            @include index-sprite(logout);
            vertical-align: -8px;
        }
    }
    > .header {
        position: relative;
        height: 139px;
        @include index-sprite(header_bg);
        background-repeat: repeat-x;
        .accept-case {
            position: absolute;
            top: 0;
            left: 50%;
            width: 877px;
            height: 139px;
            margin-left: -438px;
            @include index-sprite(header_center_module);
        }
        .statistics-item {
        }
        .item-label {
            color: #01ffff;
            font-size: 24px;
            font-weight: bold;
        }
        .item-num {
            font-family: "DS-DIGIB", sans-serif;
            font-size: 36px;
            color: #fafd4d;
        }
    }
}


