@import "compass/utilities/sprites";

@import "list/*.png";

.page-list {
    >.page-header {
        height: 126px;
        padding-top: 1px ;
        background-color:  #013066;
    }
    .search-container {
        width: 1000px;
        height: 100%;
        background: url(../images/list_header_bg.png) no-repeat center top;
        margin: 0 auto;
    }
    .search-label {

    }
    .search-input {

    }
    .search-btn {

    }
}