@import "login";
@import "index";
@import "font";
@import "../../../modules/ui/scss/animate";
html, body {
    height: 100%;
}
.page {
    position: relative;
    font-family: "Microsoft Yahei", sans-serif;
}