.overlay-container {
    display: none;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    &.show {
        display: block;
        visibility: visible;
    }
    .overlay {
        height: 100%;
        @include opacity(70);
        background: #000;
    }
}