.parsley {
    input.parsley-success,
    select.parsley-success,
    textarea.parsley-success {
        color: #468847;
        background-color: #DFF0D8;
        border: 1px solid #D6E9C6;
    }

    input.parsley-error,
    select.parsley-error,
    textarea.parsley-error {
        color: #B94A48;
        background-color: #F2DEDE;
        border: 1px solid #EED3D7;
    }

    .parsley-errors-list {
        @include opacity(0);
        transition: all .3s ease-in;
        padding: 6px 12px;
        margin: 0;
        list-style: none;
        color: #6C6C6B;
        position: absolute;
        z-index: 3;
        top: -120%;
        left: 50%;
        width: 50%;
        min-width: 100px;
        background: #FFFFDA;
        border: solid 1px #FEAE18;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        border-radius: 2px;
        &:before, &:after {
            content: ".";
            position: absolute;
            width: 0;
            height: 0;
            line-height: 0;
            font-size: 0;
            border: solid 6px transparent;
            border-bottom:0 none;
        }
        &:before {
            bottom: 0;
            left: 50%;
            margin-bottom: -6px;
            margin-left: -7px;
            border-top-color: #FEAE18;
        }
        &:after {
            bottom: 0;
            left: 50%;
            margin-bottom: -5px;
            margin-left: -7px;
            border-top-color: #FFFFDA;
            display: none \9;
        }
    }

    .parsley-errors-list.filled {
        @include opacity(100);
    }

}