.ac_results {
    padding: 0;
    border: 1px solid #c4defe;
    background-color: #f0f0f0;
    //overflow: hidden;
    z-index: 99999;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin: 0px;
        padding: 2px 0;
        cursor: default;
        display: block;
        /*
        if width will be 100% horizontal scrollbar will apear
        when scroll mode will be used
        */
        /*width: 100%;*/
        font: menu;
        font-size: 12px;
        /*
        it is very important, if line-height not setted or setted
        in relative units scroll will be broken in firefox
        */
        line-height: 20px;
        overflow: hidden;
        strong {
            font-weight: normal;
            color: #fe6c0f;
        }
    }
}

.ac_loading {
    background: white;
}

.ac_odd {
    background-color: #fcfdfe;
}

.ac_even{
    background-color: #f3f8ff;
}

.ac_over
//, .ac_results li:hover
{
    background-color: #388ffa;
    color: #fff;
    .ac_num, .ac_right, .ac_cont {
        color: #fff;
    }

}

.ac_num {
    float: left;
    background-color: transparent;
    color: #b9b9b9;
    //padding: 0 0.5em 0 0.3em;
    padding: 0 8px 0 8px
}
.ac_right {
    float: right;
    margin-right: 1em;
    color: #888;
}

.ac_pagnation {
    //overflow: hidden;
    line-height: 21px;
    font-size: 12px;
    padding: 8px 8px 4px 8px;
    font-family: "Microsoft Yahei", sans-serif;
    color: #888;
    border-top: solid 1px #c4defe;
    background-color: #fff;
    .clear {
        clear: both;
    }
    .display {
        float: right;
    }
    .display label{
        color: #888;
    }
    .current-page {
        color: #ffba8e;
        font-size: 14px;
    }
    .tips {
        float: left;
    }
    .tips-item {
        float: left;
        .icon {
            display: block;
            width: 32px;
            height: 21px;
            margin-right: 6px;
            background: url(../images/icons_direction.png) no-repeat 9999px 9999px;
            vertical-align: middle;
        }
        &.tips-next-item {
            margin-right: 10px;
        }
        &.tips-prev-item .icon{
            background-position: 0 0;
        }
        &.tips-next-item .icon{
            background-position: -42px 0;
        }
        &.tips-prev-page .icon {
            background-position: 0 -31px;
        }
        &.tips-next-page .icon{
            background-position: -42px -31px;
        }
        &.help {
            position: relative;
            width: 18px;
            height: 18px;
            line-height: 18px;
            font-size: 14px;
            text-align: center;
            color: #fff;
            border: solid 1px;
            vertical-align: middle;
            border-radius: 18px;
            margin-right: 6px;
            margin-left: -6px;
            background-color: #345bbb;
            cursor: pointer;
            &:hover .help-detail {
                display: block;
            }
            .help-detail {
                display: none;
                position: absolute;
                width: 412px;
                height: 360px;
                bottom: -66px;
                left: -10px;
                background: url(../images/autocomplete_help.jpg) no-repeat center center #fff;
                border: dashed 1px #ddd;
            }
        }
    }
}

