@import "font-awesome";

$border-radius-base: 2px;

@mixin border-radius($top:$border-radius-base, $right:$border-radius-base, $bottom:$border-radius-base, $left:$border-radius-base) {
    -moz-border-radius: $top $right $bottom $left;
    -webkit-border-radius: $top $right $bottom $left;
    border-radius: $top $right $bottom $left;
}

// 修复圆角
//
.tooltip,
//
.window,
.window-shadow,
//
.l-btn,
//
.l-btn-plain:hover,
//
.textbox ,
//
.textbox .textbox-text,
//
.tabs-header .tabs-pill li a.tabs-inner,
//
.calendar-title span,
//
.calendar-prevmonth,
.calendar-nextmonth,
.calendar-prevyear,
.calendar-nextyear,
//
.calendar-day,
//
.calendar-menu-prev,
.calendar-menu-next,
//
.calendar-menu-month,
//
.progressbar,
//
.slider-inner,
//
.menu-active,
//
.menu-shadow,
//
.m-btn-plain-active,
.s-btn-plain-active,
//
.tooltip,
//
.switchbutton,
//
.switchbutton-on,
.switchbutton-off,
.switchbutton-handle,
//

//

.window
{
    @include border-radius();
}

.tabs li a.tabs-inner {
    @include border-radius($border-radius-base, $border-radius-base, 0, 0);
}
.tabs-header-bottom .tabs li a.tabs-inner {
    @include border-radius( 0, 0, $border-radius-base, $border-radius-base);
}
.tabs-header-left .tabs li a.tabs-inner {
    @include border-radius( $border-radius-base,0,0 $border-radius-base);
}
.tabs-header-right .tabs li a.tabs-inner {
    @include border-radius( 0, $border-radius-base, $border-radius-base, 0);
}
.progressbar-value {
    @include border-radius( $border-radius-base,0,0 $border-radius-base);
}

.switchbutton-on,
.switchbutton-reversed .switchbutton-off {
    @include border-radius( $border-radius-base,0,0 $border-radius-base);
}
.switchbutton-off,
.switchbutton-reversed .switchbutton-on {
    @include border-radius( 0, $border-radius-base, $border-radius-base, 0);

}

// 修复日期控件生成的HTML代码与现有风格不一致的情况
.textbox.combo.datebox .combo-arrow {
    //background-color: transparent;
    background: none 0;
    @extend .fa;
    @extend .fa-calendar;
    &:before {
        font-size: 16px;
    }
    line-height: 28px;
    margin-right: 2px;
}


// icons
// 面板折叠箭头
.panel-tool-collapse {
    background: none;
    @extend .fa;
    @extend .fa-chevron-down;
}
.panel-tool .panel-tool-expand {
    @extend .fa-chevron-up;
}

// tooltip
.tooltip-invalid {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

// file box
.filebox .textbox-button-right .l-btn-text {
    @extend .fa;
    @extend .fa-file-picture-o;
    line-height: 24px;
    &:before {
        margin-right: 2px;
    }
}