@import "../../../modules/ui/scss/reset";
@import "../../../modules/ui/scss/minx";
@import "../../../modules/ui/scss/preloader";

$pageWidth : 1200px;
body,html {
    height: 100%;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.page {
    font-size: 14px;
    font-family: "Microsoft Yahei", sans-serif;
    color: #333;
    background: url(../images/bg.png) no-repeat center top #fff;
    height: 100%;
    overflow: hidden;
    * {
        transition: all 0.3s ease-in;
    }
    .icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        background: no-repeat center center;
        vertical-align: middle;
        &.icon-clock {
            background-image: url(../images/top_09.png);
        }
        &.icon-setting {
            background-image: url(../images/top_12.png);
        }
    }
    .switch {
        display: inline-block;
        width: 138px;
        height: 33px;
        background: no-repeat center center;
        vertical-align: middle;
        cursor: pointer;
        &.switch-off {
            background-image: url(../images/top_17.png);
        }
        &.switch-on {
            background-image: url(../images/top_06.png);
        }
    }
    @at-root .header {
        position: relative;
        z-index: 3;
        height: 60px;
        background-color: rgba(255,255,255,0.95);
        box-shadow: 0 2px 4px rgba(136,136,136,.22);
        .wrap {
            @include centerBlock($pageWidth);
        }
        .logo {
            float: left;
            font-size: 36px;
            line-height: 60px;
            a {
                color: inherit;
            }
        }
        .time, .capture, .setting {
            margin-top: 16px;
            .icon {
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
        }
        .time {
            float: right;
            margin-right: 5em;
        }
        .capture {
            float: right;
            margin-right: 2em;
            color: #666;
        }
        .setting {
            float: right;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }
    @at-root .main {
        position: relative;
        z-index: 2;
        .wrap {
            @include centerBlock($pageWidth);
        }
        .display {
            float: left;
            width: 600px;
            height: 450px;
            background: url(../images/display_area_03.png) no-repeat;
            background-size: 100% auto;
            padding: 3px 3px 50px 3px;
            margin-top: 32px;
            .display-area {
                width: 100%;
                height: 100%;
                background-color: red;
                overflow: hidden;
                img {
                    height: 100%;
                }
            }
        }
        .info {
            position: relative;
            top: -30px;
            padding-top: 40px;
            float: right;
            width: 560px;
            height: 700px;
            background: url(../images/info_bg_03.png) no-repeat;
            background-size: 100% auto;
            .photos {
                & > * {
                    float: left;
                }
                .photo {
                    width: 142px;
                    height: 160px;
                    background: url(../images/photo_frame_03.png) no-repeat;
                    background-size: 100% auto;
                }
                .photo-left {
                    margin: 0 0 0 61px;
                }
                .result {
                    width: 100px;
                    height: 100px;
                    background: no-repeat;
                    background-size: 100% auto;
                    margin: 20px 20px 0 20px;
                    &.result-search {
                        background-image: url(../images/result_10.png);
                    }
                }
                .photo-left {

                }
            }
            .data {
                width: 454px;
                line-height: 38px;
                margin: 10px 0 0 29px;
                .row {
                    margin-bottom: 10px;
                    @for $i from 1 through 12 {
                        .col-#{$i} { width: 100% * $i / 12; float: left;}
                    }
                    &:after {
                        content: "";
                        height: 0;
                        display: block;
                        clear: both;
                    }
                    .label {
                        text-align: right;
                        color: #945328;
                    }

                }
                .form-control {
                    width: 100%;
                    height: 38px;
                    border: none 0;
                    padding: 0;
                    background-color: #fff;
                    box-shadow: 0 1px 2px #c5c5c5 inset;
                    border-radius: 3px;
                    text-indent: 0.5em;
                    font-size: 16px;
                }
                textarea.form-control {
                    height: 4em;
                }
            }
        }
    }
    @at-root .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: rgba(0,0,0,0.34);
        .copyright {
            text-align: center;
        }
    }
}