@charset "UTF-8";
/*h1,h2,p,table,tr,th,td,strong*/
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a img {
    border: none 0; }

.clear {
  clear: both;
  height: 0;
  font-size: 0; }

.hidden {
  visibility: hidden !important;
  display: none !important; }

.disabled {
  cursor: not-allowed; }

.alert {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px; }
  .alert.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
  .alert button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: .2;
    vertical-align: middle;
    margin-top: -3px; }
    .alert button.close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: .5; }
  .alert strong {
    font-weight: 700; }

.wait-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/loading.gif);
  background-position: center center;
  background-repeat: no-repeat; }

.wd-container {
  margin: 10px auto;
  width: 800px;
  height: 500px;
  border: solid 7px #eeeeee;
  padding: 1px;
  background-color: #e0e2e7;
  font-family: "Microsoft Yahei", "宋体",sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 1.5; }
  .wd-container .wd-wrap {
    height: 100%;
    background: url(../images/platform_bg.png) repeat-x #ffffff; }
  .wd-container .wd-main {
    height: 88%; }
  .wd-container .wd-bottom {
    height: 12%;
    background-color: #ffffff;
    border-top: solid 1px #eeeeee; }
  .wd-container .bottom-menu {
    overflow: hidden;
    line-height: 1;
    color: #6176be; }
    .wd-container .bottom-menu .bottom-menu-item {
      float: left;
      width: 16.5%;
      font-size: 16px;
      padding: 24px 0 30px 0;
      text-indent: 46px;
      cursor: pointer;
      background: url(../images/sprit.png) no-repeat 18px 21px; }
      .wd-container .bottom-menu .bottom-menu-item:hover {
        background-color: #e6e6e6; }
      .wd-container .bottom-menu .bottom-menu-item.active {
        color: #ffffff;
        background-color: #62a0ea;
        background-position-y: -106px !important; }
      .wd-container .bottom-menu .bottom-menu-item.disabled {
        color: #e6e6e6;
        background-color: #fff;
        cursor: not-allowed; }
  .wd-container .wd-qjsj {
    overflow: hidden; }
    .wd-container .wd-qjsj .qjsj-map {
      width: 354px;
      float: left;
      padding: 10px;
      margin: -1px 0 0 -1px;
      border: solid 1px #eee;
      background: #fff; }
      .wd-container .wd-qjsj .qjsj-map .map-hot {
        width: 333px;
        height: 246px;
        background: url(../images/map.png) no-repeat;
        position: relative; }
        .wd-container .wd-qjsj .qjsj-map .map-hot .map-hot-item {
          position: absolute; }
          .wd-container .wd-qjsj .qjsj-map .map-hot .map-hot-item .tip {
            display: none;
            padding: 2px;
            color: #CFEBF4;
            background-color: #31b0d5;
            border-color: #269abc; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-00 {
          left: 0px;
          top: 0px;
          width: 83px;
          height: 64px;
          background: url("../images/map_00.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-00:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-00.active {
            background-image: url("../images/map_00_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-00:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-00.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-00.error {
            background-image: url("../images/map_00_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-00 .tip {
            font-size: 12px;
            position: absolute;
            top: 44px;
            left: 54px;
            width: 25px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-00 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-00 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-00 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-01 {
          left: 0px;
          top: 139px;
          width: 112px;
          height: 107px;
          background: url("../images/map_01.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-01:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-01.active {
            background-image: url("../images/map_01_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-01:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-01.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-01.error {
            background-image: url("../images/map_01_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-01 .tip {
            font-size: 12px;
            position: absolute;
            top: -20px;
            left: 0px;
            width: 57px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-01 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-01 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-01 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-02 {
          left: 104px;
          top: 206px;
          width: 20px;
          height: 20px;
          background: url("../images/map_02.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-02:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-02.active {
            background-image: url("../images/map_02_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-02:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-02.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-02.error {
            background-image: url("../images/map_02_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-02 .tip {
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: -48px;
            width: 45px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-02 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-02 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-02 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-03 {
          left: 100px;
          top: 192px;
          width: 67px;
          height: 54px;
          background: url("../images/map_03.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-03:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-03.active {
            background-image: url("../images/map_03_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-03:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-03.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-03.error {
            background-image: url("../images/map_03_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-03 .tip {
            font-size: 12px;
            position: absolute;
            top: 53px;
            left: -20px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-03 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-03 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-03 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-04 {
          left: 91px;
          top: 165px;
          width: 58px;
          height: 39px;
          background: url("../images/map_04.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-04:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-04.active {
            background-image: url("../images/map_04_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-04:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-04.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-04.error {
            background-image: url("../images/map_04_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-04 .tip {
            font-size: 12px;
            position: absolute;
            top: -20px;
            left: -20px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-04 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-04 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-04 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-05 {
          left: 156px;
          top: 186px;
          width: 20px;
          height: 32px;
          background: url("../images/map_05.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-05:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-05.active {
            background-image: url("../images/map_05_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-05:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-05.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-05.error {
            background-image: url("../images/map_05_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-05 .tip {
            font-size: 12px;
            position: absolute;
            top: 27px;
            left: 8px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-05 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-05 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-05 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-06 {
          left: 140px;
          top: 162px;
          width: 30px;
          height: 46px;
          background: url("../images/map_06.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-06:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-06.active {
            background-image: url("../images/map_06_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-06:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-06.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-06.error {
            background-image: url("../images/map_06_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-06 .tip {
            font-size: 12px;
            position: absolute;
            top: -18px;
            left: 9px;
            width: 45px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-06 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-06 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-06 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-07 {
          left: 154px;
          top: 155px;
          width: 54px;
          height: 55px;
          background: url("../images/map_07.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-07:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-07.active {
            background-image: url("../images/map_07_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-07:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-07.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-07.error {
            background-image: url("../images/map_07_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-07 .tip {
            font-size: 12px;
            position: absolute;
            top: 50px;
            left: 24px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-07 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-07 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-07 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-08 {
          left: 165px;
          top: 103px;
          width: 107px;
          height: 86px;
          background: url("../images/map_08.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-08:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-08.active {
            background-image: url("../images/map_08_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-08:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-08.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-08.error {
            background-image: url("../images/map_08_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-08 .tip {
            font-size: 12px;
            position: absolute;
            top: 0px;
            left: -20px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-08 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-08 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-08 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-09 {
          left: 226px;
          top: 126px;
          width: 56px;
          height: 69px;
          background: url("../images/map_09.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-09:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-09.active {
            background-image: url("../images/map_09_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-09:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-09.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-09.error {
            background-image: url("../images/map_09_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-09 .tip {
            font-size: 12px;
            position: absolute;
            top: 63px;
            left: 10px;
            width: 45px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-09 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-09 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-09 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-10 {
          left: 260px;
          top: 121px;
          width: 53px;
          height: 58px;
          background: url("../images/map_10.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-10:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-10.active {
            background-image: url("../images/map_10_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-10:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-10.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-10.error {
            background-image: url("../images/map_10_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-10 .tip {
            font-size: 12px;
            position: absolute;
            top: 30px;
            left: 48px;
            width: 45px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-10 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-10 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-10 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-11 {
          left: 262px;
          top: 90px;
          width: 48px;
          height: 56px;
          background: url("../images/map_11.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-11:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-11.active {
            background-image: url("../images/map_11_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-11:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-11.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-11.error {
            background-image: url("../images/map_11_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-11 .tip {
            font-size: 12px;
            position: absolute;
            top: 10px;
            left: 40px;
            width: 45px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-11 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-11 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-11 .tip:hover img {
                margin: -1px 0 0 1px; }
        .wd-container .wd-qjsj .qjsj-map .map-hot #map-12 {
          left: 219px;
          top: 0px;
          width: 114px;
          height: 100px;
          background: url("../images/map_12.png") no-repeat; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-12:hover, .wd-container .wd-qjsj .qjsj-map .map-hot #map-12.active {
            background-image: url("../images/map_12_hover.png"); }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-12:hover .tip, .wd-container .wd-qjsj .qjsj-map .map-hot #map-12.active .tip {
              display: block; }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-12.error {
            background-image: url("../images/map_12_error.png"); }
          .wd-container .wd-qjsj .qjsj-map .map-hot #map-12 .tip {
            font-size: 12px;
            position: absolute;
            top: 10px;
            left: -30px;
            width: 70px;
            vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-12 .tip img {
              height: 12px;
              vertical-align: middle; }
            .wd-container .wd-qjsj .qjsj-map .map-hot #map-12 .tip:hover {
              color: #fff; }
              .wd-container .wd-qjsj .qjsj-map .map-hot #map-12 .tip:hover img {
                margin: -1px 0 0 1px; }
      .wd-container .wd-qjsj .qjsj-map .map-current {
        font-size: 16px;
        margin-top: 1em;
        text-align: right; }
        .wd-container .wd-qjsj .qjsj-map .map-current .label {
          color: #999; }
        .wd-container .wd-qjsj .qjsj-map .map-current .cur-city {
          color: #333; }
    .wd-container .wd-qjsj .qujsj-data {
      float: left;
      width: 425px;
      color: #666; }
      .wd-container .wd-qjsj .qujsj-data .data-panel {
        background: #fff; }
        .wd-container .wd-qjsj .qujsj-data .data-panel:first-child .panel-body {
          height: 61px; }
        .wd-container .wd-qjsj .qujsj-data .data-panel .panel-heading {
          overflow: hidden;
          height: 39px;
          line-height: 39px;
          font-size: 18px;
          background-color: #f5f5f5;
          border: 1px solid #ddd; }
          .wd-container .wd-qjsj .qujsj-data .data-panel .panel-heading .total {
            float: right;
            font-size: 14px;
            width: 51%; }
          .wd-container .wd-qjsj .qujsj-data .data-panel .panel-heading .icon {
            vertical-align: middle;
            margin-left: 4px;
            margin-right: 4px; }
        .wd-container .wd-qjsj .qujsj-data .data-panel .panel-body {
          overflow: hidden;
          border: 1px solid #ddd;
          border-top: none 0;
          height: 60px; }
          .wd-container .wd-qjsj .qujsj-data .data-panel .panel-body .data-item {
            float: left;
            width: 49%;
            margin-top: 0.5em; }
            .wd-container .wd-qjsj .qujsj-data .data-panel .panel-body .data-item.line-first {
              text-indent: 2em; }
    .wd-container .wd-qjsj .service-status {
      clear: both;
      margin-top: 2em; }
      .wd-container .wd-qjsj .service-status .service-status-item {
        position: relative;
        float: left;
        width: 120px;
        height: 78px;
        color: #666;
        font-size: 16px;
        border: solid 1px #e0f3d7;
        margin-left: 10px;
        background: url(../images/server_status_ok.png) no-repeat center center; }
        .wd-container .wd-qjsj .service-status .service-status-item.empty {
          background: none;
          border-color: #eee; }
        .wd-container .wd-qjsj .service-status .service-status-item.error {
          border-color: #f7dfdf;
          background-image: url(../images/server_status_error.png); }
          .wd-container .wd-qjsj .service-status .service-status-item.error .tip.error {
            display: block;
            background-color: #ffeded;
            color: #b70000; }
        .wd-container .wd-qjsj .service-status .service-status-item .text {
          width: 90%;
          line-height: 1.2;
          margin: 1.5em auto 0 auto;
          text-align: center; }
        .wd-container .wd-qjsj .service-status .service-status-item .tip {
          position: absolute;
          right: 0;
          bottom: 0;
          line-height: 1;
          font-size: 12px;
          color: #349200;
          background-color: #ecf7e6;
          padding: 3px 2px; }
          .wd-container .wd-qjsj .service-status .service-status-item .tip.error {
            display: none; }
  .wd-container .wd-ywjg {
    position: relative;
    color: #333;
    padding-top: 6px; }
    .wd-container .wd-ywjg .time-menu {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      overflow: hidden;
      padding-right: 1px; }
      .wd-container .wd-ywjg .time-menu .time-menu-item {
        float: left;
        width: 78px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #333;
        background-color: #fff;
        border: solid 1px #cccccc;
        margin-right: -1px; }
        .wd-container .wd-ywjg .time-menu .time-menu-item:hover {
          background-color: #e6e6e6; }
        .wd-container .wd-ywjg .time-menu .time-menu-item.active {
          color: #fff;
          border-color: #46b8da;
          background: url(../images/btn_time_menu.png) no-repeat center center; }
    .wd-container .wd-ywjg .tabs-business-total .tabs-body {
      padding-top: 4px;
      height: 190px; }
    .chart {
      position: relative;
      width: 740px;
      height: 80%;
      padding-top: 18px;
      font-size: 12px;
      margin-left: 2em;
      border-left: solid 1px #e6e6e6;
      border-bottom: solid 1px #e6e6e6; }
      .chart .chart-item {
        float: left;
        height: 100%;
        width: 8%;
        text-align: center; }
        .chart .chart-item .total {
          position: relative;
          height: 100%; }
          .chart .chart-item .total .percent {
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -18px;
            width: 34px;
            background-color: #ccdde7;
            border: solid 1px #97bbcd;
            overflow: visible; }
            .chart .chart-item .total .percent .num {
              line-height: 1;
              display: block;
              margin-top: -1.2em;
              *zoom: 1; }
      .chart .chart-title {
        position: absolute;
        top: 0;
        left: -1.4em;
        width: 1em;
        color: #333;
        text-align: center;
        line-height: 1.2; }
    .wd-container .wd-ywjg .tabs-business-view {
      margin-top: 16px; }
      .table-grid {
        border-collapse: collapse;
        table-layout: fixed;
        background-color: #fff;
        font-size: 12px;
        color: #333;
        width: 778px;
        border: solid 1px #dddddd;
        margin-left: -1px !important;
        white-space: nowrap; }
        .table-grid .tbody-heading th {
          border-bottom-style: solid; }
        .table-grid th, .table-grid td {
          height: 22px;
          border-right: dotted 1px #dddddd; }
        .table-grid th {
          font-weight: normal;
          color: #666;
          background-color: #f5f4f4;
          text-align: center;
          border-bottom: dotted 1px #dddddd; }
        .table-grid td {
          background-color: #fff;
          border-bottom: dotted 1px #dddddd; }
          .table-grid td > p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 0.5em; }
        .table-grid .tbody-operation td {
          background-color: #efefef;
          border: solid 1px #dddddd;
          vertical-align: middle;
          line-height: 1; }
        .table-grid .tbody-operation .pagination {
          height: 100%;
          margin-left: 2em; }
          .table-grid .tbody-operation .pagination .pagination-divider {
            display: inline-block;
            height: 100%;
            width: 1px;
            background-color: #d4d4d4;
            border-right: solid 1px #fff;
            vertical-align: middle;
            margin: 0 0.5em; }
          .table-grid .tbody-operation .pagination .pagination-num input {
            vertical-align: middle;
            border: 1px solid #95B8E7;
            padding: 1px;
            width: 2em;
            height: auto;
            text-align: center; }
          .table-grid .tbody-operation .pagination .pagination-btn {
            display: inline-block;
            width: 16px;
            height: 16px;
            border: solid 1px transparent;
            background: url("../images/pagination_icons.png") no-repeat #efefef;
            vertical-align: middle;
            margin: 0 0.5em;
            opacity: 0.6;
            filter: alpha(opacity=60); }
            .table-grid .tbody-operation .pagination .pagination-btn:hover {
              opacity: 1;
              filter: alpha(opacity=100);
              background-color: #eaf2ff;
              border-color: #b7d2ff; }
            .table-grid .tbody-operation .pagination .pagination-btn.page-first {
              background-position: 0 0; }
            .table-grid .tbody-operation .pagination .pagination-btn.page-pre {
              background-position: -16px 0; }
            .table-grid .tbody-operation .pagination .pagination-btn.page-next {
              background-position: -32px 0; }
            .table-grid .tbody-operation .pagination .pagination-btn.page-last {
              background-position: -48px 0; }
            .table-grid .tbody-operation .pagination .pagination-btn.refresh {
              background-position: -64px 0; }
    .tabs {
      width: 778px;
      margin-left: auto;
      margin-right: auto; }
      .tabs .tabs-nav {
        border-bottom: solid 1px #dddddd; }
        .tabs .tabs-nav .nav-item {
          float: left;
          height: 20px;
          line-height: 20px;
          padding: 10px 12px;
          border: solid 1px transparent;
          margin-bottom: -2px; }
          .tabs .tabs-nav .nav-item select {
            visibility: hidden;
            margin-left: 1em;
            vertical-align: middle; }
          .tabs .tabs-nav .nav-item a {
            color: #337ab7; }
          .tabs .tabs-nav .nav-item:hover {
            background-color: #eee; }
          .tabs .tabs-nav .nav-item.active {
            background-color: #fff;
            border-color: #dddddd;
            border-bottom-color: #fff; }
            .tabs .tabs-nav .nav-item.active a {
              color: #555555;
              cursor: default; }
            .tabs .tabs-nav .nav-item.active select {
              visibility: visible; }
      .tabs .tabs-body {
        background-color: #fff;
        border: solid 1px #dddddd;
        border-top-width: 0; }
  .wd-container .wd-ydbl {
    padding-top: 16px; }
    .wd-container .wd-ydbl .tabs {
      position: relative; }
    .wd-container .wd-ydbl .ydbl-statistic {
      position: absolute;
      top: 10px;
      right: 0;
      font-size: 12px;
      color: #666666; }
      .wd-container .wd-ydbl .ydbl-statistic p {
        float: left;
        margin-left: 1em; }
        .wd-container .wd-ydbl .ydbl-statistic p label {
          color: #888; }
        .wd-container .wd-ydbl .ydbl-statistic p strong {
          font-weight: normal;
          font-size: 14px; }
      .wd-container .wd-ydbl .ydbl-statistic .bdw label {
        color: #62a0ea; }
      .wd-container .wd-ydbl .ydbl-statistic .bdw strong {
        color: #ff916b; }
        .wd-container .wd-ydbl .ydbl-statistic .bdw strong:first-child {
          color: #ffc56b; }
    .wd-container .wd-ydbl .quick-links {
      margin: 0.8em 0 0 0.6em;
      font-size: 12px; }
      .wd-container .wd-ydbl .quick-links .quick-links-item {
        float: left;
        padding: 0.25em;
        margin-right: 1em; }
        .wd-container .wd-ydbl .quick-links .quick-links-item:first-child {
          color: #888;
          padding-right: 0;
          margin-right: 0; }
        .wd-container .wd-ydbl .quick-links .quick-links-item a {
          color: #6176be;
          border-bottom: dotted 1px; }
          .wd-container .wd-ydbl .quick-links .quick-links-item a:hover {
            color: #758de3; }
    .wd-container .wd-ydbl .tabs-body {
      padding: 1.2em 0 0 0; }
      .wd-container .wd-ydbl .tabs-body .like-query {
        display: inline-block;
        margin-left: -1px;
        padding: 0 0.5em;
        vertical-align: middle;
        width: auto;
        cursor: pointer;
        text-indent: 0;
        font-size: 12px;
        color: #666;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .wd-container .wd-ydbl .tabs-body .like-query input {
          margin-right: 0.5em;
          vertical-align: middle; }
        .wd-container .wd-ydbl .tabs-body .like-query:hover {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad; }
    .wd-container .wd-ydbl .search {
      margin: 0 0 1.2em 1em; }
      .form .form-group {
        float: left;
        margin-right: 1em; }
      .form .form-label {
        color: #666666; }
      .form .form-control {
        width: 172px;
        height: 28px;
        border: solid 1px #ccc;
        font-size: 14px;
        text-indent: 0.5em;
        line-height: 28px;
        vertical-align: middle;
        background-color: #f8f8f8; }
      .form .form-btn {
        border: none 0;
        padding: 0;
        width: 69px;
        height: 31px;
        cursor: pointer;
        font-size: 13px;
        font-family: "Microsoft Yahei", sans-serif;
        color: #555;
        text-indent: 1em;
        background: url(../images/form_btn.png) no-repeat 0 0; }
        .form .form-btn:hover {
          background: url(../images/form_btn_hover.png) no-repeat 1px 1px;
          color: #fff; }
  .wd-container .wd-sjzl .tabs-quality-problems {
    padding-top: 6px; }
    .wd-container .wd-sjzl .tabs-quality-problems .tabs-body {
      padding-top: 4px;
      height: 190px; }
  .wd-container .wd-sjzl .tabs-duplicate-code {
    margin-top: 16px; }

/*# sourceMappingURL=style.css.map */
