
body {
    color: #333;
}
.navbar {
    margin-left: -2px;
    margin-right: -2px;
}
.content {
    //padding-top: 65px;
}

.sidebar {
    //position: fixed;
    padding-left: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    .glyphicon-chevron-right {
        float: right;
        opacity: 0.8;
    }
    &.nav {
        .list-group-item {
            padding: 0;
        }
        .active {
            a {
                color: #fff;
            }
            & > a:hover, & > a:focus {
                background-color: transparent;
            }
        }
    }
}
.dropdown-menu {
    max-height: 20em;
    overflow: auto;
    a[data-value] {
        cursor: pointer;
    }
}
.btn-save {
    width: 12em;
    margin-top: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    .glyphicon {
        vertical-align: -2px;
    }
}
.js--select {
    .input-group-addon {
        cursor: pointer;
    }
}
.form-control[readonly] {
    cursor: not-allowed;
}

.checkbox label {
    margin-right: 2em;
}
.radio label {
    margin-right: 2em;
}

.panel {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    .panel-heading {
        position: relative;
        .panel-title {
            cursor: pointer;
        }
        .btn-group {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            .btn {
                height: 100%;
                border-radius: 0;
                &:last-child {
                    border-top-right-radius: 4px;
                }

            }
        }
    }
}