
body {
    color: #333;
}

.content {
    padding-top: 65px;
}
.sidebar {
    position: fixed;
    padding-left: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    .glyphicon-chevron-right {
        float: right;
        opacity: 0.8;
    }
    &.nav {
        .list-group-item {
            padding: 0;
        }
        .active {
            a {
                color: #fff;
            }
            & > a:hover, & > a:focus {
                background-color: transparent;
            }
        }
    }
}
.dropdown-menu {
    max-height: 20em;
    overflow: auto;
    a[data-value] {
        cursor: pointer;
    }
}
.btn-save {
    width: 12em;
    margin-top: 1em;
}
.js--select {
    .input-group-addon {
        cursor: pointer;
    }
}
.form-control[readonly] {
    cursor: not-allowed;
}

.checkbox label {
    margin-right: 2em;
}
.radio label {
    margin-right: 2em;
}

.panel {
    .panel-title {
        .icon {
            float: right;
            font-size: 1.2em;
            color: #286292;
            &:hover {
                color: #3b8ed4;
            }
        }
    }
}