$page-width: 1000px;

body,html {
    color: #333;
    height: 100%;
    background-color: #EDEDF0;
}
.wait-overlay {
    display: block;
    background-color : rgba(0, 0, 0, 0.4);
    filter           : progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
    position         : absolute;
    z-index          : 20;
    top              : 0;
    left             : 0;
    width            : 100%;
    height           : 100%;
    background-image: url(../images/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
}
.alert {
    position: absolute;
    //width: 50%;
    top: 30%;
    left: 20%;
    right: 20%;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    &.alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    button.close {
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        filter: alpha(opacity=20);
        opacity: .2;
        vertical-align: middle;
        margin-top: -3px;
        &:hover {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            filter: alpha(opacity=50);
            opacity: .5;
        }
    }
    strong {
        font-weight: 700;
    }
}
.clearfix:after {
    content:" ";
    display: block;
    height: 0;
    clear: both;
}
.login-page {
    overflow: hidden;
    background: url(../images/bg.jpg) no-repeat center 0;
    font-family: "Microsoft Yahei", "宋体", Arial, sans-serif;
    font-size: 14px;
    a {
        text-decoration: none;
    }
    img {
        border: none 0;
    }
    h1,h2,h3 {
        font-weight: normal;
    }
    .top {
        height: 60px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.7);
        & > .inner {
            width: $page-width;
            margin: 0 auto;
        }
        h1 {
            padding: 0;
            margin: 0;
        }
        .logo {
            float : left;
            margin: 5px 0 0 0;
            img {
                height: 50px;
            }
        }
        .title {
            font-size: 24px;
            color: #fff;
            line-height: 60px;
            text-indent: 10px;
        }
    }

    .content {
        & > .inner {
            width: $page-width;
            margin: 0 auto;
        }
        .login {
            width: 320px;
            height: 300px;
            padding: 60px 40px 0 40px;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,.6);
            border-radius: 6px;
            float: right;
            margin: 40px 40px 0 0;
            .form-control {
                height: 54px;
                padding: 16px 12px;
            }
            .btn {
                width: 100%;
                background-color: #f08000;
                font-size: 24px;
                color: #fff;
                padding: 0;
                &:hover, &:focus {
                    background-color: #f79f3b;
                }
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 36px;
        line-height: 36px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,.8);
        & > .inner {
            width: $page-width;
            margin: 0 auto;
            text-align: center;
            color: #C7C7C7;
            a {
                border-bottom: dotted 1px #6F6F6F;
                color: #C7C7C7;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

#index {
    @at-root .preloader {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
        .item {
            position: absolute;
            width: 50px;
            height: 50px;
            left: 50%;
            top: 50%;
            margin-left: -25px;
            margin-top: -25px;
        }
        .spinner {
            width: 40px;
            height: 40px;
            margin: 0 auto;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: scaleout 1.0s infinite ease-in-out;
            animation: scaleout 1.0s infinite ease-in-out;
            span {
                width: 40px;
                height: 40px;
                color: #fff;
                display: table-cell;
                word-break: break-all;
                vertical-align: middle;
            }
        }
        @-webkit-keyframes scaleout {
            0% { -webkit-transform: scale(0.0) }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes scaleout {
            0% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            } 100% {
                  transform: scale(1.0);
                  -webkit-transform: scale(1.0);
                  opacity: 0;
              }
        }

    }

    @at-root .navbar {
        //margin-left: -2px;
        //margin-right: -2px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        -ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
        border-color: #fff;
        border-radius: 0;
        .navbar-nav {
            a {
                color: #3497db!important;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    @at-root .content {
        //padding-top: 65px;
    }

    @at-root .sidebar {
        //position: fixed;
        //padding-left: 12px;
        //transition: all 100ms ease-in;
        .glyphicon-chevron-right {
            float: right;
            opacity: 0.8;
            margin-right: -0.6em;
        }
        &.nav {
            .list-group-item {
                a {
                    //font-size: 12px;
                }
                padding: 0;
            }
            .active {
                a {
                    color: #fff;
                }
                & > a:hover, & > a:focus {
                    background-color: transparent;
                }
            }
        }
    }
    @at-root .dropdown-menu {
        max-height: 20em;
        overflow: auto;
        a[data-value] {
            cursor: pointer;
        }
    }
    @at-root .btn-save {
        width: 12em;
        margin-top: 1em;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        .glyphicon {
            vertical-align: -2px;
        }
    }
    @at-root .js--select {
        .input-group-addon {
            cursor: pointer;
        }
    }
    @at-root .form-control[readonly] {
        cursor: not-allowed;
    }
    @at-root .control-label.require:before {
        content:"*";
        color: #d9534f;
        font-family: "Courier New", sans-serif;
    }

    @at-root .checkbox label {
        min-width: 24%;
        &:hover {
            color: #ec971f;
        }
    }
    @at-root .radio label {
        margin-right: 2em;
    }

    @at-root .panel {
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        position: relative;
        .panel-heading {
            position: relative;
            .panel-title {
                cursor: pointer;
            }
            .btn-group {
                position: absolute;
                top: -1px;
                right: -1px;
                bottom: -1px;
                .btn {
                    height: 100%;
                    border-radius: 0 2px 0 0!important;

                }
            }
        }
    }
    @at-root .date {
        .input-group-addon {
            background-color: #fff;
            cursor: pointer;
            &:hover {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }
        }
    }
}
