
body,html {
    color: #333;
    height: 100%;
}
.preloader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
    .item {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
    }
    .spinner {
        width: 40px;
        height: 40px;
        margin: 0px auto;
        background-color: #333;
        border-radius: 100%;
        -webkit-animation: scaleout 1.0s infinite ease-in-out;
        animation: scaleout 1.0s infinite ease-in-out;
        span {
            width: 40px;
            height: 40px;
            color: #fff;
            display: table-cell;
            word-break: break-all;
            vertical-align: middle;
        }
    }
}
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}

.navbar {
    //margin-left: -2px;
    //margin-right: -2px;
}
.content {
    //padding-top: 65px;
}

.sidebar {
    //position: fixed;
    //padding-left: 12px;
    //transition: all 100ms ease-in;
    .glyphicon-chevron-right {
        float: right;
        opacity: 0.8;
    }
    &.nav {
        .list-group-item {
            padding: 0;
        }
        .active {
            a {
                color: #fff;
            }
            & > a:hover, & > a:focus {
                background-color: transparent;
            }
        }
    }
}
.dropdown-menu {
    max-height: 20em;
    overflow: auto;
    a[data-value] {
        cursor: pointer;
    }
}
.btn-save {
    width: 12em;
    margin-top: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    .glyphicon {
        vertical-align: -2px;
    }
}
.js--select {
    .input-group-addon {
        cursor: pointer;
    }
}
.form-control[readonly] {
    cursor: not-allowed;
}

.checkbox label {
    margin-right: 2em;
}
.radio label {
    margin-right: 2em;
}

.panel {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    .panel-heading {
        position: relative;
        .panel-title {
            cursor: pointer;
        }
        .btn-group {
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            .btn {
                height: 100%;
                border-radius: 0;
                &:last-child {
                    border-top-right-radius: 4px;
                }

            }
        }
    }
}