@charset "UTF-8";
body, html {
  color: #333;
  height: 100%;
  background-color: #EDEDF0; }

.wait-overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/loading.gif);
  background-position: center center;
  background-repeat: no-repeat; }

.alert {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px; }
  .alert.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc; }
  .alert button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    filter: alpha(opacity=20);
    opacity: .2;
    vertical-align: middle;
    margin-top: -3px; }
    .alert button.close:hover {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      filter: alpha(opacity=50);
      opacity: .5; }
  .alert strong {
    font-weight: 700; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.login-page {
  overflow: hidden;
  background: url(../images/bg.jpg) no-repeat center 0;
  font-family: "Microsoft Yahei", "宋体", Arial, sans-serif;
  font-size: 14px; }
  .login-page a {
    text-decoration: none; }
  .login-page img {
    border: none 0; }
  .login-page h1, .login-page h2, .login-page h3 {
    font-weight: normal; }
  .login-page .top {
    height: 60px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7); }
    .login-page .top > .inner {
      width: 1000px;
      margin: 0 auto; }
    .login-page .top h1 {
      padding: 0;
      margin: 0; }
    .login-page .top .logo {
      float: left;
      margin: 5px 0 0 0; }
      .login-page .top .logo img {
        height: 50px; }
    .login-page .top .title {
      font-size: 24px;
      color: #fff;
      line-height: 60px;
      text-indent: 10px; }
  .login-page .content > .inner {
    width: 1000px;
    margin: 0 auto; }
  .login-page .content .login {
    width: 320px;
    height: 300px;
    padding: 60px 40px 0 40px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    float: right;
    margin: 40px 40px 0 0; }
    .login-page .content .login .form-control {
      height: 54px;
      padding: 16px 12px; }
    .login-page .content .login .btn {
      width: 100%;
      background-color: #f08000;
      font-size: 24px;
      color: #fff;
      padding: 0; }
      .login-page .content .login .btn:hover, .login-page .content .login .btn:focus {
        background-color: #f79f3b; }
  .login-page .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8); }
    .login-page .footer > .inner {
      width: 1000px;
      margin: 0 auto;
      text-align: center;
      color: #C7C7C7; }
      .login-page .footer > .inner a {
        border-bottom: dotted 1px #6F6F6F;
        color: #C7C7C7; }
        .login-page .footer > .inner a:hover {
          color: #fff; }

.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999; }
  .preloader .item {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px; }
  .preloader .spinner {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out; }
    .preloader .spinner span {
      width: 40px;
      height: 40px;
      color: #fff;
      display: table-cell;
      word-break: break-all;
      vertical-align: middle; }
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
.navbar {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-color: #fff;
  border-radius: 0; }
  .navbar .navbar-nav a {
    color: #3497db !important; }
    .navbar .navbar-nav a:hover {
      opacity: 0.8; }
.sidebar .glyphicon-chevron-right {
  float: right;
  opacity: 0.8;
  margin-right: -0.6em; }
.sidebar.nav .list-group-item {
  padding: 0; }
.sidebar.nav .active a {
  color: #fff; }
.sidebar.nav .active > a:hover, .sidebar.nav .active > a:focus {
  background-color: transparent; }
.dropdown-menu {
  max-height: 20em;
  overflow: auto; }
  .dropdown-menu a[data-value] {
    cursor: pointer; }
.btn-save {
  width: 12em;
  margin-top: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .btn-save .glyphicon {
    vertical-align: -2px; }
.js--select .input-group-addon {
  cursor: pointer; }
.form-control[readonly] {
  cursor: not-allowed; }
.control-label.require:before {
  content: "*";
  color: #d9534f;
  font-family: "Courier New", sans-serif; }
.checkbox label {
  margin-bottom: 0.5em;
  min-width: 24%; }
.radio label {
  margin-right: 2em; }
.panel {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative; }
  .panel .panel-heading {
    position: relative; }
    .panel .panel-heading .panel-title {
      cursor: pointer; }
    .panel .panel-heading .btn-group {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px; }
      .panel .panel-heading .btn-group .btn {
        height: 100%;
        border-radius: 0 2px 0 0 !important; }
.date .input-group-addon {
  background-color: #fff;
  cursor: pointer; }
  .date .input-group-addon:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad; }

/*# sourceMappingURL=style.css.map */
