@charset "UTF-8";
/*===== 清除默认的margin的属性值 =====*/
body,
blockquote,
dd,
dl,
figure,
form,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

/*===== 统一设置列表的margin和padding，以及列表表形式 =====*/
menu,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/*===== 全局定义字体以及页面背景 =====*/
/*===== 设置iframe的背景色以及去除个别浏览器iframe底部的几个像素 =====*/
iframe {
  background-color: #FFFFFF;
  vertical-align: middle; }

/*===== 去除文本链接样式 =====*/
a {
  text-decoration: none; }

/*===== 去除个别浏览器图片底部的几个像素，以及设置图片形式链接无边框 =====*/
img {
  vertical-align: middle; }

a img {
  border: 0 none; }

/*===== 设置表单元素的样式 =====*/
textarea {
  overflow: auto;
  vertical-align: text-bottom;
  *vertical-align: auto;
  border: 1px solid;
  resize: vertical; }

/* 滚动条为auto，与周边的元素对齐方式，其中hack部分是IE6&7中vertical-align影响范围清除，resize为上下可拉动，避免左右拉动破坏页面布局，如有需要可以设置为none */
/*===== 设置表格元素的样式 =====*/
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* 合并表格的间隙，去掉单元格之间的间距，如有需要合并单元格为细线表格，可增加 border-collapse:collapse; */
td, th, caption {
  padding: 0; }

/* 去除单元格以及caption表头的padding值 */
/*===== 清除样式 =====*/
i {
  font-style: normal; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

.preloader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999; }
  .preloader .item {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px; }
  .preloader .spinner {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out; }
    .preloader .spinner span {
      width: 40px;
      height: 40px;
      color: #fff;
      display: table-cell;
      word-break: break-all;
      vertical-align: middle; }
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0; } }
body, html {
  height: 100%; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

.page {
  font-size: 14px;
  font-family: "Microsoft Yahei", sans-serif;
  color: #333;
  background: url(../images/bg.png) no-repeat center top #fff;
  height: 100%;
  overflow: hidden; }
  .page * {
    transition: all 0.3s ease-in; }
  .page .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: no-repeat center center;
    vertical-align: middle; }
    .page .icon.icon-clock {
      background-image: url(../images/top_09.png); }
    .page .icon.icon-setting {
      background-image: url(../images/top_12.png); }
  .page .switch {
    display: inline-block;
    width: 138px;
    height: 33px;
    background: no-repeat center center;
    vertical-align: middle;
    cursor: pointer; }
    .page .switch.switch-off {
      background-image: url(../images/top_17.png); }
    .page .switch.switch-on {
      background-image: url(../images/top_06.png); }
  .header {
    position: relative;
    z-index: 3;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(136, 136, 136, 0.22); }
    .header .wrap {
      width: 1200px;
      margin-left: auto;
      margin-right: auto; }
    .header .logo {
      float: left;
      font-size: 36px;
      line-height: 60px; }
      .header .logo a {
        color: inherit; }
    .header .time, .header .capture, .header .setting {
      margin-top: 16px; }
      .header .time .icon, .header .capture .icon, .header .setting .icon {
        margin-left: 0.5em;
        margin-right: 0.5em; }
    .header .time {
      float: right;
      margin-right: 5em; }
    .header .capture {
      float: right;
      margin-right: 2em;
      color: #666; }
    .header .setting {
      float: right; }
      .header .setting:hover {
        transform: rotate(360deg); }
  .main {
    position: relative;
    z-index: 2; }
    .main .wrap {
      width: 1200px;
      margin-left: auto;
      margin-right: auto; }
    .main .display {
      float: left;
      width: 600px;
      height: 450px;
      background: url(../images/display_area_03.png) no-repeat;
      background-size: 100% auto;
      padding: 3px 3px 50px 3px;
      margin-top: 32px; }
      .main .display .display-area {
        width: 100%;
        height: 100%;
        background-color: gray;
        overflow: hidden; }
        .main .display .display-area img {
          height: 100%; }
    .main .info {
      position: relative;
      top: -30px;
      padding-top: 40px;
      float: right;
      width: 560px;
      height: 700px;
      background: url(../images/info_bg_03.png) no-repeat;
      background-size: 100% auto; }
      .main .info .photos > * {
        float: left; }
      .main .info .photos .photo {
        width: 142px;
        height: 160px;
        background: url(../images/photo_frame_03.png) no-repeat;
        background-size: 100% auto; }
      .main .info .photos .photo-left {
        margin: 0 0 0 61px; }
      .main .info .photos .result {
        width: 100px;
        height: 100px;
        background: no-repeat;
        background-size: 100% auto;
        margin: 20px 20px 0 20px; }
        .main .info .photos .result.result-search {
          background-image: url(../images/result_10.png); }
      .main .info .data {
        width: 454px;
        line-height: 38px;
        margin: 10px 0 0 29px; }
        .main .info .data .row {
          margin-bottom: 10px; }
          .main .info .data .row .col-1 {
            width: 8.33333%;
            float: left; }
          .main .info .data .row .col-2 {
            width: 16.66667%;
            float: left; }
          .main .info .data .row .col-3 {
            width: 25%;
            float: left; }
          .main .info .data .row .col-4 {
            width: 33.33333%;
            float: left; }
          .main .info .data .row .col-5 {
            width: 41.66667%;
            float: left; }
          .main .info .data .row .col-6 {
            width: 50%;
            float: left; }
          .main .info .data .row .col-7 {
            width: 58.33333%;
            float: left; }
          .main .info .data .row .col-8 {
            width: 66.66667%;
            float: left; }
          .main .info .data .row .col-9 {
            width: 75%;
            float: left; }
          .main .info .data .row .col-10 {
            width: 83.33333%;
            float: left; }
          .main .info .data .row .col-11 {
            width: 91.66667%;
            float: left; }
          .main .info .data .row .col-12 {
            width: 100%;
            float: left; }
          .main .info .data .row:after {
            content: "";
            height: 0;
            display: block;
            clear: both; }
          .main .info .data .row .label {
            text-align: right;
            color: #945328; }
        .main .info .data .form-control {
          width: 100%;
          height: 38px;
          padding: 0;
          background-color: #fff;
          box-shadow: 0 1px 2px #c5c5c5 inset;
          border-radius: 3px;
          text-indent: 0.5em;
          font-size: 14px;
          border: none 0;
          line-height: 1.5;
          outline: 2px solid transparent; }
          .main .info .data .form-control:focus {
            outline: 2px solid #945328; }
          .main .info .data .form-control.readonly {
            background-color: #d7b37a;
            color: #562403;
            box-shadow: 0 1px 2px #562403 inset; }
            .main .info .data .form-control.readonly:focus {
              outline: none 0; }
        .main .info .data textarea.form-control {
          height: 4em; }
        .main .info .data .button {
          border: none 0;
          padding: 0;
          width: 115px;
          height: 111px;
          background: url(../images/btn_save.png) no-repeat;
          margin-left: 184px;
          cursor: pointer; }
          .main .info .data .button:hover {
            background-image: url(../images/btn_save_active.png); }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, 0.34); }
    .footer .copyright {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
