//a:hover, a:active, a:focus {
//    outline: none;
//    text-decoration: none;
//    color: #72afd2;
//}
html, body {
    height: 100%;
    //font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;;
}
.placeholder-wait {
    height: 100%;
    width: 100%;
    padding: 150px 0 250px 0;
    color: #3CBCB2;
    .fa {
        font-size: 40px;
    }
    > .txt {
        //color: #fff;
        font-size: 18px;
        text-align: center;
    }
}
.fix-record {
    position: relative;
    border-left: solid 3px #DBDBDB;
    padding: 40px 0;
    .btn-add-record {
        position: absolute;
        right: 0;
        top: 0;
    }
    .label {
        font-size: 100%;
        font-weight: normal;
    }
    > .fix-record-item {
        margin-bottom: 80px;
        > .header {
            position: relative;
            margin-bottom: 32px;
            padding-left: 20px;
            > .fa {
                position: absolute;
                left: -12px;
                //color: #ADADAD;
                color: #DBDBDB;
                background-color: #F9F9F9;
            }
        }
        > .item-detail {
            position: relative;
            border-bottom: 1px dashed #ccc;
            padding: 20px 0 10px 20px;
            color: #666;
            > .fa {
                position: absolute;
                left: -7px;
                //color: #ADADAD;
                color: #DBDBDB;
                background-color: #F9F9F9;
            }
        }
    }
    .fix-record-item-add {
        padding: 10px;
        background-color: #fff;
        border: 1px dashed #e6e6e6;
        margin: 10px 0 10px 1px;
        .control-label {
            color: #888;
        }
        .form-inline .form-group {
            vertical-align: top;
            textarea {
                height: 80px;
            }
        }
        form {
            //margin: 10px 0;
        }
    }
}

.navbar-blue {
    margin-bottom: 0;
    background-color: #3c8dbc;
    color: #fff;
    .navbar-brand {
        color: #fff;
        &.active,
        &:hover,
        &:focus {
            color: #fff;
            opacity: 0.6;
        }
    }
    .navbar-text {
        color: #ABD2E8;
    }
    .navbar-nav  {
        > li {
            > a {
                color: #C3E2F4;
                background-color: transparent;
                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }

    }
    .dropdown {
        .dropdown-menu {
            .fa {
                color: #3C8DBC;
            }
        }
    }
    .dropdown-menu {
        background-color: #fff;
        border-top: none 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        margin-left: -1px;
        &.dropdown-menu-right {
            margin-left: 0;
            margin-right: -1px;
        }
        > li > a {
            &:hover, &:focus {
                color: #3C8DBC;
                background-color: #eee;
            }
        }
    }
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
        background-color: #fff;
        color: #555;
    }

}

.main {
    background-color: #f9f9f9;
    padding: 20px 20px 20px 240px;
    min-height: 800px;
}


.left-side {
    position: absolute;
    top: 50px;
    left: 0;
    width: 220px;
    border-right: 1px solid #dbdbdb;
    background: #f4f4f4;
}
.sidebar {
    .sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        li.header {
            padding: 10px 25px 10px 15px;
            font-size: 12px;
        }
        li > a > .fa-angle-left {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
            margin-top: 3px;
        }
        li.active {
            > a > .fa-angle-left {
            }
            > .treeview-menu {
                display: block;
            }
        }
        > li {
            position: relative;
            margin: 0;
            padding: 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #dbdbdb;
            .label,
            .badge {
                margin-top: 3px;
                margin-right: 5px;
            }
            > a {
                padding: 12px 5px 12px 15px;
                display: block;
                > .fa {
                    width: 20px;
                }
            }
            &:first-of-type {
                border-top: 1px solid #dbdbdb;
            }
            &.active, &:hover {
                > a {
                    color: #3c8dbc;
                    background: #fff;
                }
                .treeview-menu {
                    background: #fff;
                }
            }
        }
    }
    .treeview-menu {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0 0 0 14px;
        > li {
            margin: 0 0 0 10px;
            > a {
                display: block;
                color: #777;
                font-size: 14px;
                padding: 5px 5px 5px 15px;
                > .fa {
                    width: 20px;
                }
                > .fa-angle-left,
                > .fa-angle-down {
                    width: auto;
                }
            }
            &.active, &:hover {
                > a {
                    color: #3c8dbc;
                }
            }
        }
    }
    a {
        color: #555555;
        &:focus {
            text-decoration: none;
        }
    }
}


.page-icons {

    .nav-cont {
        border:solid #ddd;
        border-width: 0 1px 1px 1px;
        background-color: #fff;
        padding-top: 1px;
        .list-item {
            list-style: none;
        }
        .font-title {
            margin: 20px;
            border-bottom: solid 2px #eee;
            padding-bottom: 12px;
        }
    }

    .font-list {
        .list-item {
            padding: 3px 0;
        }

        .font-icon {
            display: inline-block;
            width: 20px;
            .fa {
                font-size: 16px;
            }
        }
        .font-class {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}
.pre {
    white-space: pre;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.page-btns {
    .panel-style {
        .row {
            padding-bottom: 1em;
        }
    }
}
.page-overlay {
    .panel-body {
        position: relative;
    }
}

.page-utilities {
    .children-padding p {
        padding: 8px;
    }
}

.modal.modal-static-example {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.article {
    background-color: #fff;
    padding: 8px 20px;
    margin-bottom: 20px;
    &.article-theme-1 {
        li {
            line-height: 2;
        }
        pre li {
            line-height: 1.5;
        }
        img {
            max-width: 100%;
        }
    }
}
.page-tooltip {


    .tooltip-example {
        background-color: #fff;
        .tooltip {
            position : relative;
            display  : inline-block;
            margin   : 10px 0;
            opacity  : 1;
        }
    }
}
.page-select {
    .callout {
        line-height: 1.8;
    }
    .row {
        margin-bottom: 4em;
        //border-bottom: 1px dashed #eeeeee;
    }
}
kbd {
    color: #48484C;
    background-color: #F7F7F9;
}
.tab-content {
    border: 1px solid #ddd;
    border-top: none 0;
}
.page-bdc {
    ul {
        line-height: 2;
    }
}