//a:hover, a:active, a:focus {
//    outline: none;
//    text-decoration: none;
//    color: #72afd2;
//}
html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;;
}
.wrap {
    // 不能直接设置 height， 否则溢出部分会被截断
    min-height: 100%;
    position: relative;
    //overflow: hidden;
}
.wrap {
    > .header {
        .logo {
            float: left;
            font-size: 20px;
            line-height: 50px;
            text-align: center;
            padding: 0 10px;
            width: 220px;
            font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;;
            font-weight: 500;
            height: 50px;
            display: block;
        }
        .navbar {
            height: 50px;
            margin-bottom: 0;
            margin-left: 220px;
        }
    }
    .left-side {
        position: absolute;
        top: 50px;
        left: 0;
        width: 220px;
        height: 100%;
        border-right: 1px solid #dbdbdb;
    }
    .sidebar .sidebar-menu > li {
        margin: 0;
        padding: 0;
    }
    .sidebar {
        a:focus {
            text-decoration: none;
        }
    }
    > .main {
        background-color: #f9f9f9;
        min-height: 100%;
        padding: 20px 20px 20px 240px;
    }
}

.skin-blue {
    .logo {
        background-color: #3c8dbc;
        color: #f9f9f9;
    }
    .navbar {
        background-color: #3c8dbc;
    }
    .left-side {
        background: #f4f4f4;
    }
    .sidebar {
        > .sidebar-menu {
            > li {
                border-top: 1px solid #fff;
                border-bottom: 1px solid #dbdbdb;
                &:first-of-type {
                    border-top: 1px solid #dbdbdb;
                }
                &.active, &:hover {
                    > a {
                        color: #3c8dbc;
                        background: #f9f9f9;
                    }
                    .treeview-menu {
                        background: #f9f9f9;
                    }
                }
            }
        }
        a {
            color: #555555;
        }
    }
    .treeview-menu {
        > li {
            > a {
                color: #777;
            }
            &.active, &:hover {
                > a {
                    color: #3c8dbc;
                }
            }
        }
    }
}

// Sidebar menu
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    //First Level
    > li {
        position: relative;
        margin: 0;
        padding: 0;
        > a {
            padding: 12px 5px 12px 15px;
            display: block;
            > .fa,
            > .glyphicon,
            > .ion {
                width: 20px;
            }
        }
        .label,
        .badge {
            margin-top: 3px;
            margin-right: 5px;
        }
    }
    li.header {
        padding: 10px 25px 10px 15px;
        font-size: 12px;
    }
    li > a > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        margin-top: 3px;
    }
    li.active {
        > a > .fa-angle-left {
        }
        > .treeview-menu {
            display: block;
        }
    }

    // Tree view menu
    .treeview-menu {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0 0 0 14px;
        .treeview-menu {
            padding-left: 20px;
        }
        > li {
            margin: 0 0 0 10px;
            > a {
                padding: 5px 5px 5px 15px;
                display: block;
                font-size: 14px;
                > .fa,
                > .glyphicon,
                > .ion {
                    width: 20px;
                }
                > .fa-angle-left,
                > .fa-angle-down {
                    width: auto;
                }
            }
        }
    }
}

.page-icons {


    .nav-cont {
        border:solid #ddd;
        border-width: 0 1px 1px 1px;
        background-color: #fff;
        padding-top: 1px;
        .list-item {
            list-style: none;
        }
        .font-title {
            margin: 20px;
            border-bottom: solid 2px #eee;
            padding-bottom: 12px;
        }
    }

    .font-list {
        .list-item {
            padding: 3px 0;
        }

        .font-icon {
            display: inline-block;
            width: 20px;
            .fa {
                font-size: 16px;
            }
        }
        .font-class {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}
.pre {
    white-space: pre;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.page-btns {
    .panel-style {
        .row {
            padding-bottom: 1em;
        }
    }
}
.page-overlay {
    .panel-body {
        position: relative;
    }
}

.page-utilities {
    .children-padding p {
        padding: 8px;
    }
}

.modal.modal-static-example {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.article {
    background-color: #fff;
    padding: 8px 20px;
    margin-bottom: 20px;
}
.page-tooltip {


    .tooltip-example {
        background-color: #fff;
        .tooltip {
            position : relative;
            display  : inline-block;
            margin   : 10px 0;
            opacity  : 1;
        }
    }
}