
.#{$prefix}loading {

}

.#{$prefix}loading-container {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.#{$prefix}loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    @include opacity(0.35);
}
.#{$prefix}loading-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(#{$images-dir}loading_60x60.gif) no-repeat center center;
    //background-size: auto 50px;

}
.#{$prefix}loading-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 12px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    font-family: "Microsoft Yahei",sans-serif;
    margin: -6px 0 0 -24px;
}
.#{$prefix}loading-text {
    position: absolute;
    top: 30%;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "Microsoft Yahei",sans-serif;
}