html, body {
  height: 100%; }

.placeholder-wait {
  height: 100%;
  width: 100%;
  padding: 150px 0 250px 0;
  color: #3CBCB2; }
  .placeholder-wait .fa {
    font-size: 40px; }
  .placeholder-wait > .txt {
    font-size: 18px;
    text-align: center; }

.fix-record {
  position: relative;
  border-left: solid 3px #DBDBDB;
  padding: 40px 0; }
  .fix-record .btn-add-record {
    position: absolute;
    right: 0;
    top: 0; }
  .fix-record .label {
    font-size: 100%;
    font-weight: normal; }
  .fix-record > .fix-record-item {
    margin-bottom: 80px; }
    .fix-record > .fix-record-item > .header {
      position: relative;
      margin-bottom: 32px;
      padding-left: 20px; }
      .fix-record > .fix-record-item > .header > .fa {
        position: absolute;
        left: -12px;
        color: #DBDBDB;
        background-color: #F9F9F9; }
    .fix-record > .fix-record-item > .item-detail {
      position: relative;
      border-bottom: 1px dashed #ccc;
      padding: 20px 0 10px 20px;
      color: #666; }
      .fix-record > .fix-record-item > .item-detail > .fa {
        position: absolute;
        left: -7px;
        color: #DBDBDB;
        background-color: #F9F9F9; }
  .fix-record .fix-record-item-add {
    padding: 10px;
    background-color: #fff;
    border: 1px dashed #e6e6e6;
    margin: 10px 0 10px 1px; }
    .fix-record .fix-record-item-add .control-label {
      color: #888; }
    .fix-record .fix-record-item-add .form-inline .form-group {
      vertical-align: top; }
      .fix-record .fix-record-item-add .form-inline .form-group textarea {
        height: 80px; }

.navbar-blue {
  margin-bottom: 0;
  background-color: #3c8dbc;
  color: #fff; }
  .navbar-blue .navbar-brand {
    color: #fff; }
    .navbar-blue .navbar-brand.active, .navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
      color: #fff;
      opacity: 0.6; }
  .navbar-blue .navbar-text {
    color: #ABD2E8; }
  .navbar-blue .navbar-nav > li > a {
    color: #C3E2F4;
    background-color: transparent; }
    .navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
      color: #fff; }
  .navbar-blue .dropdown .dropdown-menu .fa {
    color: #3C8DBC; }
  .navbar-blue .dropdown-menu {
    background-color: #fff;
    border-top: none 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: -1px; }
    .navbar-blue .dropdown-menu.dropdown-menu-right {
      margin-left: 0;
      margin-right: -1px; }
    .navbar-blue .dropdown-menu > li > a:hover, .navbar-blue .dropdown-menu > li > a:focus {
      color: #3C8DBC;
      background-color: #eee; }
  .navbar-blue .navbar-nav > .open > a,
  .navbar-blue .navbar-nav > .open > a:hover,
  .navbar-blue .navbar-nav > .open > a:focus {
    background-color: #fff;
    color: #555; }

.main {
  background-color: #f9f9f9;
  padding: 20px 20px 20px 240px;
  min-height: 800px; }

.left-side {
  position: absolute;
  top: 50px;
  left: 0;
  width: 220px;
  border-right: 1px solid #dbdbdb;
  background: #f4f4f4; }

.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidebar .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px; }
  .sidebar .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar .sidebar-menu li.active > .treeview-menu {
    display: block; }
  .sidebar .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb; }
    .sidebar .sidebar-menu > li .label,
    .sidebar .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
    .sidebar .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block; }
      .sidebar .sidebar-menu > li > a > .fa {
        width: 20px; }
    .sidebar .sidebar-menu > li:first-of-type {
      border-top: 1px solid #dbdbdb; }
    .sidebar .sidebar-menu > li.active > a, .sidebar .sidebar-menu > li:hover > a {
      color: #3c8dbc;
      background: #fff; }
    .sidebar .sidebar-menu > li.active .treeview-menu, .sidebar .sidebar-menu > li:hover .treeview-menu {
      background: #fff; }
.sidebar .treeview-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0 0 0 14px; }
  .sidebar .treeview-menu > li {
    margin: 0 0 0 10px; }
    .sidebar .treeview-menu > li > a {
      display: block;
      color: #777;
      font-size: 14px;
      padding: 5px 5px 5px 15px; }
      .sidebar .treeview-menu > li > a > .fa {
        width: 20px; }
      .sidebar .treeview-menu > li > a > .fa-angle-left,
      .sidebar .treeview-menu > li > a > .fa-angle-down {
        width: auto; }
    .sidebar .treeview-menu > li.active > a, .sidebar .treeview-menu > li:hover > a {
      color: #3c8dbc; }
.sidebar a {
  color: #555555; }
  .sidebar a:focus {
    text-decoration: none; }

.page-icons .nav-cont {
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  background-color: #fff;
  padding-top: 1px; }
  .page-icons .nav-cont .list-item {
    list-style: none; }
  .page-icons .nav-cont .font-title {
    margin: 20px;
    border-bottom: solid 2px #eee;
    padding-bottom: 12px; }
.page-icons .font-list .list-item {
  padding: 3px 0; }
.page-icons .font-list .font-icon {
  display: inline-block;
  width: 20px; }
  .page-icons .font-list .font-icon .fa {
    font-size: 16px; }
.page-icons .font-list .font-class {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle; }

.pre {
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

.page-btns .panel-style .row {
  padding-bottom: 1em; }

.page-overlay .panel-body {
  position: relative; }

.page-utilities .children-padding p {
  padding: 8px; }

.modal.modal-static-example {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1; }

.article {
  background-color: #fff;
  padding: 8px 20px;
  margin-bottom: 20px; }
  .article.article-theme-1 li {
    line-height: 2; }
  .article.article-theme-1 pre li {
    line-height: 1.5; }
  .article.article-theme-1 img {
    max-width: 100%; }

.page-tooltip .tooltip-example {
  background-color: #fff; }
  .page-tooltip .tooltip-example .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 0;
    opacity: 1; }

.page-select .callout {
  line-height: 1.8; }
.page-select .row {
  margin-bottom: 4em; }

kbd {
  color: #48484C;
  background-color: #F7F7F9; }

.tab-content {
  border: 1px solid #ddd;
  border-top: none 0; }

.page-bdc ul {
  line-height: 2; }

/*# sourceMappingURL=main.css.map */
