html, body {
  height: 100%; }

.wrap {
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.wrap > .header .logo {
  float: left;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
  width: 220px;
  font-family: 'Microsoft Yahei', sans-serif;
  font-weight: 500;
  height: 50px;
  display: block; }
.wrap > .header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 220px; }
.wrap .left-side {
  position: absolute;
  top: 50px;
  left: 0;
  width: 220px;
  height: 100%;
  border-right: 1px solid #dbdbdb; }
.wrap .sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0; }
.wrap > .main {
  background-color: #f9f9f9;
  min-height: 100%;
  padding: 20px 20px 20px 240px; }

.skin-blue .logo {
  background-color: #3c8dbc;
  color: #f9f9f9; }
.skin-blue .navbar {
  background-color: #3c8dbc; }
.skin-blue .left-side {
  background: #f4f4f4; }
.skin-blue .sidebar > .sidebar-menu > li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb; }
  .skin-blue .sidebar > .sidebar-menu > li:first-of-type {
    border-top: 1px solid #dbdbdb; }
  .skin-blue .sidebar > .sidebar-menu > li.active > a, .skin-blue .sidebar > .sidebar-menu > li:hover > a {
    color: #3c8dbc;
    background: #f9f9f9; }
  .skin-blue .sidebar > .sidebar-menu > li.active .treeview-menu, .skin-blue .sidebar > .sidebar-menu > li:hover .treeview-menu {
    background: #f9f9f9; }
.skin-blue .sidebar a {
  color: #555555; }
.skin-blue .treeview-menu > li > a {
  color: #777; }
.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li:hover > a {
  color: #3c8dbc; }

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; }
    .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block; }
      .sidebar-menu > li > a > .fa,
      .sidebar-menu > li > a > .glyphicon,
      .sidebar-menu > li > a > .ion {
        width: 20px; }
    .sidebar-menu > li .label,
    .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px; }
  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu li.active > .treeview-menu {
    display: block; }
  .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 0 14px; }
    .sidebar-menu .treeview-menu .treeview-menu {
      padding-left: 20px; }
    .sidebar-menu .treeview-menu > li {
      margin: 0 0 0 10px; }
      .sidebar-menu .treeview-menu > li > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px; }
        .sidebar-menu .treeview-menu > li > a > .fa,
        .sidebar-menu .treeview-menu > li > a > .glyphicon,
        .sidebar-menu .treeview-menu > li > a > .ion {
          width: 20px; }
        .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
        .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
          width: auto; }

.page-icons .nav-cont {
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  background-color: #fff;
  padding-top: 1px; }
  .page-icons .nav-cont .list-item {
    list-style: none; }
  .page-icons .nav-cont .font-title {
    margin: 20px;
    border-bottom: solid 2px #eee;
    padding-bottom: 12px; }
.page-icons .font-list .list-item {
  padding: 3px 0; }
.page-icons .font-list .font-icon {
  display: inline-block;
  width: 20px; }
  .page-icons .font-list .font-icon .fa {
    font-size: 16px; }
.page-icons .font-list .font-class {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle; }

.pre {
  white-space: pre; }

.page-btns .panel-style .row {
  padding-bottom: 1em; }

/*# sourceMappingURL=main.css.map */
